set version 15.1X49-D130.6
set groups node0 system host-name core1-0
set groups node0 system backup-router 10.60.0.1
set groups node0 system backup-router destination 10.60.0.0/20
set groups node0 system syslog source-address 10.60.0.35
set groups node0 system ntp source-address 10.60.0.35
set groups node0 interfaces fxp0 unit 0 family inet address 10.60.0.35/25
set groups node1 system host-name core1-1
set groups node1 system backup-router 10.60.0.1
set groups node1 system backup-router destination 10.60.0.0/20
set groups node1 system syslog source-address 10.60.0.36
set groups node1 system ntp source-address 10.60.0.36
set groups node1 interfaces fxp0 unit 0 family inet address 10.60.0.36/25
set apply-groups "${node}"
set system host-name core1-0.ATL2
set system time-zone UTC
set system root-authentication encrypted-password "$5$L6hEm/.l$.18gCegcgnG4gYCSXTYeyW7X1C2gNTEguwesha2on3/"
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system login class RANCID permissions access
set system login class RANCID permissions admin
set system login class RANCID permissions firewall
set system login class RANCID permissions flow-tap
set system login class RANCID permissions interface
set system login class RANCID permissions network
set system login class RANCID permissions routing
set system login class RANCID permissions secret
set system login class RANCID permissions security
set system login class RANCID permissions snmp
set system login class RANCID permissions storage
set system login class RANCID permissions system
set system login class RANCID permissions trace
set system login class RANCID permissions view
set system login class RANCID permissions view-configuration
set system login user david.selders uid 2000
set system login user david.selders class super-user
set system login user david.selders authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRqoUoOtQ7k9HIETWLtgnbZpciXcu/MLLLAnTIkgW6lWKdsd1yMp8r1pM0ykRZpAaSup39HxTzK+7U4x49RgcCUn2/M4EYV33jzkp/m6Jb6dqXQtPtMNWvmvsBZf8PhZsr/jMIAQ6tX6m+9yrVkvRWQsZSSaAsxoI/LJUWH7GX4TmJoUcMD2ZQWLJWIwIfv2DNv8x6lxB7AZGDQfD+7+swWoFxnfsu/164QJiUWQyub2tRQUEskNsebwPiPzigO4LqCTD+A8POz0BzM5i+bJ1yU5Obr0h1CyBMpThCJAso7MKBQHB5ZYd2A/0ZJUBB2DVfsp360ScRYyMv8prsp9WYQqKRTqoRegOFucpBz6XdjrvzaiS5uL2jpyzod8PAmdXlsGCjHvKyWGMmv0YQjrcZ5qTlBGCKshDKnFNKjaeUXULpgVv9XQ85nlZy1+NOcWoelYopHU+/rRiH3AVVjxshoxD6zh9aQMzSPU0Gs5PaL+lcaHMD4FK8va9zamZ0WP9uaaT8uM6i/+LsP7FMZlLyzfaxGztJPMZznusEX6Af4Iwnub/i46hYPeXXbEA0O85Xd6OMNDr5CpKDB1QkxKsCXWGxuHcoHFMzWOMoKuncNyjULTadUQh2qreC1sgkVUESdpe+nRiVBlpTYitWjF5zz2eubImkJaFc0inCAzCDJw== david.selders@locationlabs.com"
set system login user rancid full-name RANCID
set system login user rancid uid 2001
set system login user rancid class RANCID
set system login user rancid authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDoqCebUtvf/AYgnhvu2sWjCculvumpeauTkjeZvAVn/cjX4y4BsDqs+BhaOBbDMFt2pajaGreN6Vcnxrq/fGF3aSjWbz/4PwJlk0Xawgg1yz2Qe8p8KEuE2iT1pfWFbU2tBQVR0F2VW/deVhfxVZoX3yXyA3ayZZkLhZxHr6voGf3UfIRmhnPxz/NQio/2qdwTFtMUJl381Sqc5qUCIVAhwPmwfD/If00ffMWRfRLHlG7DLwXKNhcoUEur/dv0xFVvrUXun32Zo9fV1Lnmehb2BSWOaV9q9XODV+y5fg18XTYtF7R7c/lfPgiEwSoat9m+grTLMKtVjckEiEULfRX9fFQIkEz6DezAXI07jiJCVsA+16d1MfvgTRneBv9LeE4E4iNEnnC0EEXg0C3aedtvq2Qrkw23t1HgwW8ebFceBFo4hWviFoxnh06hHsPVT5J9e5Ut7Xs4S17FHucJIocpR1VWCFir/Hmmjo/oPCY/HKDTV+/YCbtBX2jhzSkLE5S1XJRzzIgJrpt9vbWpnxbyAesAwbxKLSUnEJmItfWls0D9RgexWUehafjDzgUQnYjpw2ax2cgU5O6sn9is89ednxgBVElS5JvN5IxndG25nlHi7/hg6wvGnK7WmNHBhKB6HeR1y4aVQn1KcujIsVwZkGg4tJmtJWZ5xiA5sFWWhQ== rancid@ig-deploy"
set system services ssh
set system services netconf ssh
set system syslog user * any emergency
set system syslog host 10.60.0.47 any info
set system syslog host 10.60.0.47 port 5046
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system syslog file kmd-logs daemon info
set system syslog file kmd-logs match KMD
set system max-configurations-on-flash 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set system ntp peer 10.60.0.121
set system ntp peer 10.60.0.122
set system ntp peer 10.60.0.123
set system ntp peer 10.60.0.41
set system ntp peer 10.60.0.42
set chassis cluster reth-count 2
set chassis cluster redundancy-group 0 node 0 priority 100
set chassis cluster redundancy-group 0 node 1 priority 1
set chassis cluster redundancy-group 1 node 0 priority 100
set chassis cluster redundancy-group 1 node 1 priority 1
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/16 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/17 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/18 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/19 weight 255
set security ike proposal ike-prop-vpn-em1-0 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-em1-0 dh-group group2
set security ike proposal ike-prop-vpn-em1-0 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-em1-0 encryption-algorithm aes-256-cbc
set security ike policy ike-pol-vpn-em1-0 mode main
set security ike policy ike-pol-vpn-em1-0 proposals ike-prop-vpn-em1-0
set security ike policy ike-pol-vpn-em1-0 pre-shared-key ascii-text "$9$f5F/BIcSrv9AeWLxbwF36CBRrlv7dbuO7-wYaJApuORcKMX"
set security ike gateway gw-vpn-em1-0 ike-policy ike-pol-vpn-em1-0
set security ike gateway gw-vpn-em1-0 address 66.211.110.193
set security ike gateway gw-vpn-em1-0 remote-identity inet 66.211.110.193
set security ike gateway gw-vpn-em1-0 external-interface lo0.0
set security ike gateway gw-vpn-em1-0 local-address 5.62.30.254
set security ipsec proposal ipsec-prop-vpn-em1-0 protocol esp
set security ipsec proposal ipsec-prop-vpn-em1-0 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-em1-0 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-em1-0 lifetime-seconds 3600
set security ipsec policy ipsec-pol-vpn-em1-0 proposals ipsec-prop-vpn-em1-0
set security ipsec vpn vpn-em1-0 bind-interface st0.0
set security ipsec vpn vpn-em1-0 df-bit clear
set security ipsec vpn vpn-em1-0 ike gateway gw-vpn-em1-0
set security ipsec vpn vpn-em1-0 ike ipsec-policy ipsec-pol-vpn-em1-0
set security ipsec vpn vpn-em1-0 establish-tunnels immediately
set security address-book global address os-repo.mgmt description "Repo server"
set security address-book global address os-repo.mgmt 10.60.0.45/32
set security address-book global address loopback0.0 5.62.30.254/32
set security address-book global address horizon-vip 10.60.129.20/32
set security address-book global address atl2-mgmt-net 10.60.0.0/23
set security address-book global address atl2-OS_ControlPlane-net 10.60.4.0/23
set security address-book global address OS_ExternalNetwork 10.60.129.0/24
set security address-book global address OS_Public_Provider 5.62.30.0/24
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source pool 5_62_30_254 address 5.62.30.254/32
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 10.60.132.0/23
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat pool 5_62_30_254
set security policies from-zone trust to-zone trust policy default-permit match source-address any
set security policies from-zone trust to-zone trust policy default-permit match destination-address any
set security policies from-zone trust to-zone trust policy default-permit match application any
set security policies from-zone trust to-zone trust policy default-permit then permit
set security policies from-zone trust to-zone untrust policy default-permit match source-address any
set security policies from-zone trust to-zone untrust policy default-permit match destination-address any
set security policies from-zone trust to-zone untrust policy default-permit match application any
set security policies from-zone trust to-zone untrust policy default-permit then permit
set security policies from-zone Undercloud to-zone trust policy AllowICMP match source-address any
set security policies from-zone Undercloud to-zone trust policy AllowICMP match destination-address any
set security policies from-zone Undercloud to-zone trust policy AllowICMP match application junos-icmp-all
set security policies from-zone Undercloud to-zone trust policy AllowICMP then permit
set security policies from-zone trust to-zone Undercloud policy AllowICMP match source-address any
set security policies from-zone trust to-zone Undercloud policy AllowICMP match destination-address any
set security policies from-zone trust to-zone Undercloud policy AllowICMP match application junos-icmp-all
set security policies from-zone trust to-zone Undercloud policy AllowICMP then permit
set security policies from-zone Undercloud to-zone Undercloud policy AllowAll match source-address any
set security policies from-zone Undercloud to-zone Undercloud policy AllowAll match destination-address any
set security policies from-zone Undercloud to-zone Undercloud policy AllowAll match application any
set security policies from-zone Undercloud to-zone Undercloud policy AllowAll then permit
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match source-address any
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match destination-address loopback0.0
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match application junos-icmp-all
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match application junos-ike
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 then permit
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match source-address loopback0.0
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match destination-address any
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match application junos-icmp-all
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match application junos-ike
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE then permit
set security policies from-zone Avast to-zone trust policy AllowAll match source-address any
set security policies from-zone Avast to-zone trust policy AllowAll match destination-address any
set security policies from-zone Avast to-zone trust policy AllowAll match application any
set security policies from-zone Avast to-zone trust policy AllowAll then permit
set security policies from-zone trust to-zone Avast policy AllowAll match source-address any
set security policies from-zone trust to-zone Avast policy AllowAll match destination-address any
set security policies from-zone trust to-zone Avast policy AllowAll match application any
set security policies from-zone trust to-zone Avast policy AllowAll then permit
set security policies from-zone untrust to-zone trust policy AllowICMP match source-address any
set security policies from-zone untrust to-zone trust policy AllowICMP match destination-address OS_Public_Provider
set security policies from-zone untrust to-zone trust policy AllowICMP match application junos-icmp-all
set security policies from-zone untrust to-zone trust policy AllowICMP then permit
set security policies from-zone untrust to-zone trust policy AllowHTTP match source-address any
set security policies from-zone untrust to-zone trust policy AllowHTTP match destination-address OS_Public_Provider
set security policies from-zone untrust to-zone trust policy AllowHTTP match application junos-http
set security policies from-zone untrust to-zone trust policy AllowHTTP match application junos-https
set security policies from-zone untrust to-zone trust policy AllowHTTP then permit
set security policies from-zone VZW_Integration to-zone VZW_Integration policy AllowALL match source-address any
set security policies from-zone VZW_Integration to-zone VZW_Integration policy AllowALL match destination-address any
set security policies from-zone VZW_Integration to-zone VZW_Integration policy AllowALL match application any
set security policies from-zone VZW_Integration to-zone VZW_Integration policy AllowALL then permit
set security zones security-zone trust host-inbound-traffic system-services ping
set security zones security-zone trust host-inbound-traffic system-services traceroute
set security zones security-zone trust interfaces lt-0/0/0.0 host-inbound-traffic protocols ospf
set security zones security-zone trust interfaces reth0.1520
set security zones security-zone trust interfaces st0.0 host-inbound-traffic system-services ping
set security zones security-zone trust interfaces st0.0 host-inbound-traffic system-services traceroute
set security zones security-zone trust interfaces reth0.1521
set security zones security-zone trust interfaces reth0.1523
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust host-inbound-traffic system-services ping
set security zones security-zone untrust host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic protocols bgp
set security zones security-zone untrust interfaces reth1.1503 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces reth1.1503 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces reth1.1503 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces reth1.1503 host-inbound-traffic protocols bgp
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic protocols bgp
set security zones security-zone Undercloud host-inbound-traffic system-services ping
set security zones security-zone Undercloud host-inbound-traffic system-services traceroute
set security zones security-zone Undercloud host-inbound-traffic protocols bgp
set security zones security-zone Undercloud host-inbound-traffic protocols ospf
set security zones security-zone Undercloud interfaces reth1.1504
set security zones security-zone Undercloud interfaces reth1.1505
set security zones security-zone Undercloud interfaces lt-0/0/0.1
set security zones security-zone Undercloud interfaces lo0.1
set security zones security-zone Undercloud interfaces reth0.1517
set security zones security-zone Avast host-inbound-traffic system-services ping
set security zones security-zone Avast host-inbound-traffic system-services traceroute
set security zones security-zone Avast interfaces reth0.59
set security zones security-zone VZW_Integration host-inbound-traffic system-services ping
set security zones security-zone VZW_Integration host-inbound-traffic system-services traceroute
set security zones security-zone VZW_Integration interfaces reth0.1522
set interfaces lt-0/0/0 unit 0 description "Global instance end"
set interfaces lt-0/0/0 unit 0 encapsulation ethernet
set interfaces lt-0/0/0 unit 0 peer-unit 1
set interfaces lt-0/0/0 unit 0 family inet address 10.60.255.4/31
set interfaces lt-0/0/0 unit 1 description "Undercloud instance end"
set interfaces lt-0/0/0 unit 1 encapsulation ethernet
set interfaces lt-0/0/0 unit 1 peer-unit 0
set interfaces lt-0/0/0 unit 1 family inet address 10.60.255.5/31
set interfaces xe-0/0/16 gigether-options redundant-parent reth0
set interfaces xe-0/0/17 gigether-options redundant-parent reth1
set interfaces xe-0/0/18 gigether-options redundant-parent reth0
set interfaces xe-0/0/19 gigether-options redundant-parent reth1
set interfaces xe-7/0/16 gigether-options redundant-parent reth0
set interfaces xe-7/0/17 gigether-options redundant-parent reth1
set interfaces xe-7/0/18 gigether-options redundant-parent reth0
set interfaces xe-7/0/19 gigether-options redundant-parent reth1
set interfaces fab0 fabric-options member-interfaces ge-0/0/10
set interfaces fab0 fabric-options member-interfaces ge-0/0/11
set interfaces fab1 fabric-options member-interfaces ge-7/0/10
set interfaces fab1 fabric-options member-interfaces ge-7/0/11
set interfaces lo0 unit 0 description "Global routing-instance"
set interfaces lo0 unit 0 family inet address 10.60.255.254/32
set interfaces lo0 unit 0 family inet address 5.62.30.254/32
set interfaces lo0 unit 1 description "Undercloud routing-instance"
set interfaces lo0 unit 1 family inet address 10.60.255.129/32
set interfaces lo0 redundant-pseudo-interface-options redundancy-group 1
set interfaces reth0 vlan-tagging
set interfaces reth0 mtu 9000
set interfaces reth0 redundant-ether-options redundancy-group 1
set interfaces reth0 redundant-ether-options lacp passive
set interfaces reth0 redundant-ether-options lacp periodic fast
set interfaces reth0 unit 59 description "Avast xconnect"
set interfaces reth0 unit 59 vlan-id 59
set interfaces reth0 unit 59 family inet address 10.224.0.65/28
set interfaces reth0 unit 1517 description "OS External Network"
set interfaces reth0 unit 1517 vlan-id 1517
set interfaces reth0 unit 1517 family inet address 10.60.129.1/24
set interfaces reth0 unit 1520 description "OS Corporate Internal Provider"
set interfaces reth0 unit 1520 vlan-id 1520
set interfaces reth0 unit 1520 family inet address 10.60.132.1/23
set interfaces reth0 unit 1521 description "OS Public Provider"
set interfaces reth0 unit 1521 vlan-id 1521
set interfaces reth0 unit 1521 family inet address 5.62.30.1/25
set interfaces reth0 unit 1522 description "VZW integration"
set interfaces reth0 unit 1522 vlan-id 1522
set interfaces reth0 unit 1522 family inet address 37.156.186.1/28
set interfaces reth0 unit 1523 description "ATL2 Misc services"
set interfaces reth0 unit 1523 vlan-id 1523
set interfaces reth0 unit 1523 family inet address 10.60.254.129/25
set interfaces reth1 vlan-tagging
set interfaces reth1 mtu 9000
set interfaces reth1 redundant-ether-options redundancy-group 1
set interfaces reth1 redundant-ether-options lacp passive
set interfaces reth1 redundant-ether-options lacp periodic fast
set interfaces reth1 unit 1502 description "core1 - edge2 (Level3)"
set interfaces reth1 unit 1502 vlan-id 1502
set interfaces reth1 unit 1502 family inet address 10.60.255.114/28
set interfaces reth1 unit 1503 description "core1 - edge1 (Internap)"
set interfaces reth1 unit 1503 vlan-id 1503
set interfaces reth1 unit 1503 family inet address 10.60.255.98/28
set interfaces reth1 unit 1504 description "core1 - edge1 (Undercloud)"
set interfaces reth1 unit 1504 vlan-id 1504
set interfaces reth1 unit 1504 family inet address 10.60.255.1/31
set interfaces reth1 unit 1505 description "core1 - edge2 (Undercloud)"
set interfaces reth1 unit 1505 vlan-id 1505
set interfaces reth1 unit 1505 family inet address 10.60.255.3/31
set interfaces reth2 redundant-ether-options redundancy-group 1
set interfaces st0 unit 0 family inet address 169.254.254.9/31
set routing-options static route 5.62.30.0/24 discard
set routing-options static route 5.62.30.0/24 no-install
set routing-options static route 0.0.0.0/0 discard
set routing-options static route 0.0.0.0/0 no-install
set routing-options static route 10.0.0.0/8 next-hop 10.224.0.78
set routing-options router-id 10.60.255.254
set routing-options autonomous-system 198605
set protocols bgp group iBGP type internal
set protocols bgp group iBGP export Wavemarket-OUT
set protocols bgp group iBGP neighbor 10.60.255.97
set protocols bgp group iBGP neighbor 10.60.255.113
set protocols bgp group Undercloud type internal
set protocols bgp group Undercloud local-address 10.60.255.254
set protocols bgp group Undercloud export RFC1918
set protocols bgp group Undercloud neighbor 10.60.255.129
set protocols bgp group EVDC type external
set protocols bgp group EVDC export OS_Prefixes
set protocols bgp group EVDC neighbor 169.254.254.8 peer-as 65000
set protocols ospf area 0.0.0.0 interface lo0.0 passive
set protocols ospf area 0.0.0.0 interface lt-0/0/0.0
set protocols l2-learning global-mode transparent-bridge
set protocols lldp management-address 10.60.0.35
set protocols lldp interface xe-0/0/16
set protocols lldp interface xe-0/0/17
set protocols lldp interface xe-0/0/18
set protocols lldp interface xe-0/0/19
set protocols lldp interface xe-7/0/16
set protocols lldp interface xe-7/0/17
set protocols lldp interface xe-7/0/18
set protocols lldp interface xe-7/0/19
set policy-options policy-statement Default_Route term 10 from protocol static
set policy-options policy-statement Default_Route term 10 from route-filter 0.0.0.0/0 exact
set policy-options policy-statement Default_Route term 10 then accept
set policy-options policy-statement Default_Route then reject
set policy-options policy-statement OS_Prefixes term 10 from route-filter 10.60.128.0/17 prefix-length-range /17-/25
set policy-options policy-statement OS_Prefixes term 10 then accept
set policy-options policy-statement OS_Prefixes term deny then reject
set policy-options policy-statement RFC1918 term 10 from protocol bgp
set policy-options policy-statement RFC1918 term 10 from protocol static
set policy-options policy-statement RFC1918 term 10 from route-filter 10.0.0.0/8 orlonger
set policy-options policy-statement RFC1918 term 10 then next-hop self
set policy-options policy-statement RFC1918 term 10 then accept
set policy-options policy-statement RFC1918 term 172.16 from protocol bgp
set policy-options policy-statement RFC1918 term 172.16 from protocol static
set policy-options policy-statement RFC1918 term 172.16 from route-filter 172.16.0.0/12 orlonger
set policy-options policy-statement RFC1918 term 172.16 then next-hop self
set policy-options policy-statement RFC1918 term 172.16 then accept
set policy-options policy-statement RFC1918 term 192.168 from protocol bgp
set policy-options policy-statement RFC1918 term 192.168 from protocol static
set policy-options policy-statement RFC1918 term 192.168 from route-filter 192.168.0.0/16 orlonger
set policy-options policy-statement RFC1918 term 192.168 then next-hop self
set policy-options policy-statement RFC1918 term 192.168 then accept
set policy-options policy-statement RFC1918 then reject
set policy-options policy-statement Wavemarket-OUT term 10 from protocol static
set policy-options policy-statement Wavemarket-OUT term 10 from route-filter 5.62.30.0/24 exact
set policy-options policy-statement Wavemarket-OUT term 10 then accept
set policy-options policy-statement Wavemarket-OUT then reject
set policy-options policy-statement set-next-hop-self term fromBGP from protocol bgp
set policy-options policy-statement set-next-hop-self term fromBGP then next-hop self
set policy-options policy-statement set-next-hop-self term fromBGP then accept
set policy-options policy-statement testing term 10 from protocol bgp
set policy-options policy-statement testing term 10 from route-filter 10.60.128.0/17 orlonger
set policy-options policy-statement testing term 10 then accept
set policy-options policy-statement testing term 20 from protocol direct
set policy-options policy-statement testing term 20 from route-filter 10.60.129.0/24 exact
set policy-options policy-statement testing term 20 then accept
set firewall filter OS_External_TO_Mgmt term 10 from source-address 10.60.129.0/24
set firewall filter OS_External_TO_Mgmt term 10 from destination-address 10.60.0.0/23
set firewall filter OS_External_TO_Mgmt term 10 then routing-instance Undercloud
set routing-instances Undercloud instance-type virtual-router
set routing-instances Undercloud interface lt-0/0/0.1
set routing-instances Undercloud interface lo0.1
set routing-instances Undercloud interface reth0.1517
set routing-instances Undercloud interface reth1.1504
set routing-instances Undercloud interface reth1.1505
set routing-instances Undercloud routing-options router-id 10.60.255.129
set routing-instances Undercloud routing-options autonomous-system 198605
set routing-instances Undercloud protocols bgp group iBGP type internal
set routing-instances Undercloud protocols bgp group iBGP local-address 10.60.255.129
set routing-instances Undercloud protocols bgp group iBGP export testing
set routing-instances Undercloud protocols bgp group iBGP cluster 10.60.255.129
set routing-instances Undercloud protocols bgp group iBGP neighbor 10.60.255.254
set routing-instances Undercloud protocols bgp group iBGP neighbor 10.60.255.130
set routing-instances Undercloud protocols bgp group iBGP neighbor 10.60.255.131
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface lo0.1 passive
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface lt-0/0/0.1
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface reth1.1504 interface-type p2p
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface reth1.1505 interface-type p2p
set routing-instances VZW instance-type virtual-router
set routing-instances VZW interface reth0.1522
set applications application Horizon protocol tcp
set applications application Horizon destination-port 13000
set applications application ipmi protocol udp
set applications application ipmi destination-port 623
