set version 15.1X49-D60.7
/* apply group, needed as part of HA config */
set groups node0 system host-name core1-0
set groups node0 system backup-router 10.60.0.1
set groups node0 system backup-router destination 10.60.0.0/20
set groups node0 interfaces fxp0 unit 0 family inet address 10.60.0.35/25
set groups node1 system host-name core1-1
set groups node1 system backup-router 10.60.0.1
set groups node1 system backup-router destination 10.60.0.0/20
set groups node1 interfaces fxp0 unit 0 family inet address 10.60.0.36/25
set apply-groups "${node}"
/* root password is in keypass */
set system root-authentication encrypted-password "$5$L6hEm/.l$.18gCegcgnG4gYCSXTYeyW7X1C2gNTEguwesha2on3/"
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system services ssh
set system services netconf ssh
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system max-configurations-on-flash 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
/* If additional reth's are added this count will need to be increased */
set chassis cluster reth-count 2
/* Redundancy group 0 is the control plane, interfaces do not go here */
set chassis cluster redundancy-group 0 node 0 priority 100
set chassis cluster redundancy-group 0 node 1 priority 1
set chassis cluster redundancy-group 1 node 0 priority 100
set chassis cluster redundancy-group 1 node 1 priority 1
/* Redundancy group 1 holds all the interfaces, additional interfaces should be added here */
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/16 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/17 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/18 weight 255
set chassis cluster redundancy-group 1 interface-monitor xe-0/0/19 weight 255
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 0.0.0.0/0
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat interface
set security policies from-zone trust to-zone trust policy default-permit match source-address any
set security policies from-zone trust to-zone trust policy default-permit match destination-address any
set security policies from-zone trust to-zone trust policy default-permit match application any
set security policies from-zone trust to-zone trust policy default-permit then permit
set security policies from-zone trust to-zone untrust policy default-permit match source-address any
set security policies from-zone trust to-zone untrust policy default-permit match destination-address any
set security policies from-zone trust to-zone untrust policy default-permit match application any
set security policies from-zone trust to-zone untrust policy default-permit then permit
/* trust security zone in the global routing instance */
set security zones security-zone trust
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust host-inbound-traffic system-services ping
set security zones security-zone untrust host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic protocols bgp
set security zones security-zone untrust interfaces reth1.1503 host-inbound-traffic protocols bgp
/* Undercloud security zone in the Undercloud routing instance */
set security zones security-zone Undercloud host-inbound-traffic system-services ping
set security zones security-zone Undercloud host-inbound-traffic system-services traceroute
set security zones security-zone Undercloud host-inbound-traffic protocols bgp
set security zones security-zone Undercloud interfaces reth1.1504
set security zones security-zone Undercloud interfaces reth1.1505
/* Mapping physical intf to it's logical redundant parent */
set interfaces xe-0/0/16 gigether-options redundant-parent reth0
set interfaces xe-0/0/17 gigether-options redundant-parent reth1
set interfaces xe-0/0/18 gigether-options redundant-parent reth0
set interfaces xe-0/0/19 gigether-options redundant-parent reth1
/* xe-7/0/* is refernce to the xe-0/0/* intf's on node1 */
set interfaces xe-7/0/16 gigether-options redundant-parent reth0
set interfaces xe-7/0/17 gigether-options redundant-parent reth1
set interfaces xe-7/0/18 gigether-options redundant-parent reth0
set interfaces xe-7/0/19 gigether-options redundant-parent reth1
/* Fabric link (fab0 is the node0 end <--> fab1 is the node1 end) */
set interfaces fab0 fabric-options member-interfaces ge-0/0/10
set interfaces fab0 fabric-options member-interfaces ge-0/0/11
set interfaces fab1 fabric-options member-interfaces ge-7/0/10
set interfaces fab1 fabric-options member-interfaces ge-7/0/11
set interfaces reth0 description "Southbound to switch fabric"
set interfaces reth0 mtu 9000
set interfaces reth0 redundant-ether-options redundancy-group 1
set interfaces reth0 redundant-ether-options lacp passive
set interfaces reth0 redundant-ether-options lacp periodic fast
set interfaces reth1 description "Northbound to edge1 and edge2"
set interfaces reth1 vlan-tagging
set interfaces reth1 mtu 9000
set interfaces reth1 redundant-ether-options redundancy-group 1
set interfaces reth1 redundant-ether-options lacp passive
set interfaces reth1 redundant-ether-options lacp periodic fast
set interfaces reth1 unit 1502 description "core1 - edge2 (Level3)"
set interfaces reth1 unit 1502 vlan-id 1502
set interfaces reth1 unit 1502 family inet address 10.60.31.114/28
set interfaces reth1 unit 1503 description "core1 - edge1 (Internap)"
set interfaces reth1 unit 1503 vlan-id 1503
set interfaces reth1 unit 1503 family inet address 10.60.31.98/28
set interfaces reth1 unit 1504 description "core1 - edge1 (Undercloud)"
set interfaces reth1 unit 1504 vlan-id 1504
set interfaces reth1 unit 1504 family inet address 10.60.31.1/31
set interfaces reth1 unit 1505 description "core1 - edge2 (Undercloud)"
set interfaces reth1 unit 1505 vlan-id 1505
set interfaces reth1 unit 1505 family inet address 10.60.31.3/31
set interfaces reth2 redundant-ether-options redundancy-group 1
set protocols bgp group iBGP type internal
set protocols bgp group iBGP local-as 198605
set protocols bgp group iBGP neighbor 10.60.31.112 peer-as 198605
set protocols bgp group iBGP neighbor 10.60.31.97 peer-as 198605
set protocols l2-learning global-mode switching
/* routing-instace for DC Mgmt access to frontsize */
set routing-instances Undercloud instance-type virtual-router
set routing-instances Undercloud interface reth1.1504
set routing-instances Undercloud interface reth1.1505
set routing-instances Undercloud protocols bgp group DC-Mgmt type internal
set routing-instances Undercloud protocols bgp group DC-Mgmt local-as 198605
set routing-instances Undercloud protocols bgp group DC-Mgmt neighbor 10.60.31.0 peer-as 198605
set routing-instances Undercloud protocols bgp group DC-Mgmt neighbor 10.60.31.2 peer-as 198605
