set version 15.1R6.7
set system host-name edge2
set system domain-name atl2.wavemarket.com
set system backup-router 10.60.0.1
set system backup-router destination 10.60.0.0/20
set system time-zone UTC
set system root-authentication encrypted-password "$1$62OMdewe$4VIl1WWd6aT/cI8ZITMCn."
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system login class RANCID permissions access
set system login class RANCID permissions admin
set system login class RANCID permissions firewall
set system login class RANCID permissions flow-tap
set system login class RANCID permissions interface
set system login class RANCID permissions network
set system login class RANCID permissions routing
set system login class RANCID permissions secret
set system login class RANCID permissions security
set system login class RANCID permissions snmp
set system login class RANCID permissions storage
set system login class RANCID permissions system
set system login class RANCID permissions trace
set system login class RANCID permissions view
set system login class RANCID permissions view-configuration
set system login user rancid full-name RANCID
set system login user rancid uid 2001
set system login user rancid class RANCID
set system login user rancid authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDoqCebUtvf/AYgnhvu2sWjCculvumpeauTkjeZvAVn/cjX4y4BsDqs+BhaOBbDMFt2pajaGreN6Vcnxrq/fGF3aSjWbz/4PwJlk0Xawgg1yz2Qe8p8KEuE2iT1pfWFbU2tBQVR0F2VW/deVhfxVZoX3yXyA3ayZZkLhZxHr6voGf3UfIRmhnPxz/NQio/2qdwTFtMUJl381Sqc5qUCIVAhwPmwfD/If00ffMWRfRLHlG7DLwXKNhcoUEur/dv0xFVvrUXun32Zo9fV1Lnmehb2BSWOaV9q9XODV+y5fg18XTYtF7R7c/lfPgiEwSoat9m+grTLMKtVjckEiEULfRX9fFQIkEz6DezAXI07jiJCVsA+16d1MfvgTRneBv9LeE4E4iNEnnC0EEXg0C3aedtvq2Qrkw23t1HgwW8ebFceBFo4hWviFoxnh06hHsPVT5J9e5Ut7Xs4S17FHucJIocpR1VWCFir/Hmmjo/oPCY/HKDTV+/YCbtBX2jhzSkLE5S1XJRzzIgJrpt9vbWpnxbyAesAwbxKLSUnEJmItfWls0D9RgexWUehafjDzgUQnYjpw2ax2cgU5O6sn9is89ednxgBVElS5JvN5IxndG25nlHi7/hg6wvGnK7WmNHBhKB6HeR1y4aVQn1KcujIsVwZkGg4tJmtJWZ5xiA5sFWWhQ== rancid@ig-deploy"
set system services ssh protocol-version v2
set system services ssh connection-limit 5
set system services ssh rate-limit 3
set system syslog user * any emergency
set system syslog host 10.60.0.47 any info
set system syslog host 10.60.0.47 port 5046
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system syslog source-address 10.60.0.34
set system ntp peer 10.60.0.121
set system ntp peer 10.60.0.122
set system ntp peer 10.60.0.123
set system ntp peer 10.60.0.41
set system ntp peer 10.60.0.42
set system ntp source-address 10.60.0.34
set chassis aggregated-devices ethernet device-count 1
set chassis network-services all-ethernet
set interfaces ge-0/0/0 unit 0 description "Level3 Uplink"
set interfaces ge-0/0/0 unit 0 family inet filter input protect-RE
set interfaces ge-0/0/0 unit 0 family inet address 4.15.114.178/30
set interfaces ge-0/0/1 unit 0 description mgmt-edge1
set interfaces ge-0/0/1 unit 0 family inet filter input protect-RE
set interfaces ge-0/0/1 unit 0 family inet address 169.254.254.3/31
set interfaces xe-2/0/0 gigether-options 802.3ad ae0
set interfaces xe-2/0/1 gigether-options 802.3ad ae0
set interfaces ae0 vlan-tagging
set interfaces ae0 mtu 9000
set interfaces ae0 aggregated-ether-options minimum-links 1
set interfaces ae0 aggregated-ether-options lacp active
set interfaces ae0 aggregated-ether-options lacp periodic fast
set interfaces ae0 unit 1502 description "Edge2 - Core1 (Level3)"
set interfaces ae0 unit 1502 vlan-id 1502
set interfaces ae0 unit 1502 family inet address 10.60.255.113/28
set interfaces ae0 unit 1505 description "Edge2 - Core1 (Undercloud)"
set interfaces ae0 unit 1505 vlan-id 1505
set interfaces ae0 unit 1505 family inet address 10.60.255.2/31
set interfaces fxp0 unit 0 family inet address 10.60.0.34/25
set interfaces lo0 unit 0 family inet address 10.60.255.252/32
set interfaces lo0 unit 1 family inet address 10.60.255.131/32
set routing-options router-id 10.60.255.252
set routing-options autonomous-system 198605
set protocols bgp group iBGP type internal
set protocols bgp group iBGP export set-next-hop-self
set protocols bgp group iBGP neighbor 10.60.255.114
set protocols bgp group Level3 local-address 4.15.114.178
set protocols bgp group Level3 import Level3-IN
set protocols bgp group Level3 export Level3-OUT
set protocols bgp group Level3 neighbor 4.15.114.177 peer-as 3356
set protocols lldp management-address 10.60.0.34
set protocols lldp interface ge-0/0/1
set protocols lldp interface xe-2/0/0
set protocols lldp interface xe-2/0/1
set policy-options policy-statement Level3-IN term AllowDefault from protocol bgp
set policy-options policy-statement Level3-IN term AllowDefault from route-filter 0.0.0.0/0 exact
set policy-options policy-statement Level3-IN term AllowDefault then local-preference 50
set policy-options policy-statement Level3-IN term AllowDefault then accept
set policy-options policy-statement Level3-IN term AllowLevel3 from protocol bgp
set policy-options policy-statement Level3-IN term AllowLevel3 then accept
set policy-options policy-statement Level3-IN term DenyAll then reject
set policy-options policy-statement Level3-OUT term Wavemarket from protocol bgp
set policy-options policy-statement Level3-OUT term Wavemarket from route-filter 5.62.30.0/24 exact
set policy-options policy-statement Level3-OUT term Wavemarket then accept
set policy-options policy-statement Level3-OUT term DenyAll then reject
set policy-options policy-statement set-next-hop-self term 10 from protocol bgp
set policy-options policy-statement set-next-hop-self term 10 then next-hop self
set policy-options policy-statement set-next-hop-self term 10 then accept
set policy-options policy-statement set-next-hop-self term deny then reject
set firewall filter protect-RE term reject_ssh from source-address 0.0.0.0/0
set firewall filter protect-RE term reject_ssh from destination-port ssh
set firewall filter protect-RE term reject_ssh then reject
set firewall filter protect-RE term reject_netconf from source-address 0.0.0.0/0
set firewall filter protect-RE term reject_netconf from protocol tcp
set firewall filter protect-RE term reject_netconf from destination-port 830
set firewall filter protect-RE term reject_netconf then reject
set firewall filter protect-RE term allow_all then accept
set routing-instances Undercloud instance-type virtual-router
set routing-instances Undercloud interface ge-0/0/1.0
set routing-instances Undercloud interface ae0.1505
set routing-instances Undercloud interface lo0.1
set routing-instances Undercloud routing-options router-id 10.60.255.131
set routing-instances Undercloud routing-options autonomous-system 198605
set routing-instances Undercloud protocols bgp group DC-Mgmt type external
set routing-instances Undercloud protocols bgp group DC-Mgmt neighbor 169.254.254.2 peer-as 65001
set routing-instances Undercloud protocols bgp group iBGP type internal
set routing-instances Undercloud protocols bgp group iBGP export set-next-hop-self
set routing-instances Undercloud protocols bgp group iBGP neighbor 10.60.255.129
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface lo0.1 passive
set routing-instances Undercloud protocols ospf area 0.0.0.0 interface ae0.1505 interface-type p2p
