set version 15.1R6.7
set system host-name edge2
set system domain-name atl2.wavemarket.com
set system backup-router 10.60.0.1
set system backup-router destination 10.60.0.0/20
/* root password is in keypass */
set system root-authentication encrypted-password "$1$62OMdewe$4VIl1WWd6aT/cI8ZITMCn."
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
/* If additional aggregated ethernet interfaces are needed, this will need to be incremented */
set chassis aggregated-devices ethernet device-count 1
set chassis network-services all-ethernet
/* Hard setting speed and duplex, turn off auto-neg */
set interfaces ge-0/0/0 speed 1g
set interfaces ge-0/0/0 link-mode full-duplex
set interfaces ge-0/0/0 gigether-options no-auto-negotiation
/* Link to DC Mgmt network (mgmt-edge1) */
set interfaces ge-0/0/1 unit 0 family inet address 169.254.254.3/31
set interfaces ge-2/0/0 gigether-options 802.3ad ae0
set interfaces ge-2/0/1 gigether-options 802.3ad ae0
set interfaces ae0 vlan-tagging
set interfaces ae0 mtu 9000
set interfaces ae0 aggregated-ether-options minimum-links 1
set interfaces ae0 aggregated-ether-options lacp active
set interfaces ae0 aggregated-ether-options lacp periodic fast
set interfaces ae0 unit 1502 description "Edge2 - Core1 (Level3)"
set interfaces ae0 unit 1502 vlan-id 1502
set interfaces ae0 unit 1502 family inet address 10.60.31.113/28
set interfaces ae0 unit 1505 description "Edge2 - Core1 (Undercloud)"
set interfaces ae0 unit 1505 vlan-id 1505
set interfaces ae0 unit 1505 family inet address 10.60.31.2/31
set interfaces fxp0 unit 0 family inet address 10.60.0.34/25
/* We need this in order to originate the route, as it needs to be in the route table */
set routing-options static route 5.62.30.0/24 discard
set routing-options static route 5.62.30.0/24 no-install
set protocols bgp group iBGP type internal
set protocols bgp group iBGP local-as 198605
set protocols bgp group iBGP neighbor 10.60.31.114 peer-as 198605
/* Feel free to kill lldp, I enabled it to validate connections for troubleshooting */
set protocols lldp management-address 10.60.0.34
set protocols lldp interface ge-0/0/1
set protocols lldp interface xe-2/0/0
set protocols lldp interface xe-2/0/1
/* Level3 inbound BGP route filtering, only take things where their ASN is last in AS path */
set policy-options policy-statement Level3-IN term AllowLevel3 from protocol bgp
set policy-options policy-statement Level3-IN term AllowLevel3 from as-path ASN3356
set policy-options policy-statement Level3-IN term AllowLevel3 then accept
/* Accept a default as well */
set policy-options policy-statement Level3-IN term AllowDefault from protocol bgp
set policy-options policy-statement Level3-IN term AllowDefault from route-filter 0.0.0.0/0 exact
set policy-options policy-statement Level3-IN term AllowDefault then accept
set policy-options policy-statement Level3-IN term DenyAll then reject
/* This is our outbound policy to Level3, advertising 5.62.30.0/24 */
set policy-options policy-statement Level3-OUT term Wavemarket from protocol static
set policy-options policy-statement Level3-OUT term Wavemarket from route-filter 5.62.30.0/24 exact
set policy-options policy-statement Level3-OUT term Wavemarket then accept
set policy-options policy-statement Level3-OUT term DenyAll then reject
/* AS path filter list referenced above on line 49 */
set policy-options as-path ASN3356 "^3356{1,}"
/* Routing instance to support DC Mgmt reachability to frontsize */
set routing-instances Undercloud instance-type virtual-router
set routing-instances Undercloud interface ge-0/0/1.0
set routing-instances Undercloud interface ae0.1505
set routing-instances Undercloud protocols bgp group DC-Mgmt local-as 198605
set routing-instances Undercloud protocols bgp group DC-Mgmt neighbor 169.254.254.2 peer-as 65001
set routing-instances Undercloud protocols bgp group DC-Mgmt neighbor 10.60.31.3 peer-as 198605
