set version 15.1X49-D130.6
set system host-name mgmt-edge1
/* root password is in keypass */
set system root-authentication encrypted-password "$5$Sh6HROY0$d334z6tb49yLnGeszl6LDXaCbjDh4BV48WoNbRK4BW3"
/* Add your public keys as Peter and I did below */
set system login user david.selders uid 1001
set system login user david.selders class super-user
set system login user david.selders authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRqoUoOtQ7k9HIETWLtgnbZpciXcu/MLLLAnTIkgW6lWKdsd1yMp8r1pM0ykRZpAaSup39HxTzK+7U4x49RgcCUn2/M4EYV33jzkp/m6Jb6dqXQtPtMNWvmvsBZf8PhZsr/jMIAQ6tX6m+9yrVkvRWQsZSSaAsxoI/LJUWH7GX4TmJoUcMD2ZQWLJWIwIfv2DNv8x6lxB7AZGDQfD+7+swWoFxnfsu/164QJiUWQyub2tRQUEskNsebwPiPzigO4LqCTD+A8POz0BzM5i+bJ1yU5Obr0h1CyBMpThCJAso7MKBQHB5ZYd2A/0ZJUBB2DVfsp360ScRYyMv8prsp9WYQqKRTqoRegOFucpBz6XdjrvzaiS5uL2jpyzod8PAmdXlsGCjHvKyWGMmv0YQjrcZ5qTlBGCKshDKnFNKjaeUXULpgVv9XQ85nlZy1+NOcWoelYopHU+/rRiH3AVVjxshoxD6zh9aQMzSPU0Gs5PaL+lcaHMD4FK8va9zamZ0WP9uaaT8uM6i/+LsP7FMZlLyzfaxGztJPMZznusEX6Af4Iwnub/i46hYPeXXbEA0O85Xd6OMNDr5CpKDB1QkxKsCXWGxuHcoHFMzWOMoKuncNyjULTadUQh2qreC1sgkVUESdpe+nRiVBlpTYitWjF5zz2eubImkJaFc0inCAzCDJw== david.selders@locationlabs.com"
set system login user peter.pletcher uid 2000
set system login user peter.pletcher class super-user
set system login user peter.pletcher authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCoeELibgrP7LBpFKChyotKddgZ2MwairR3Q0Ixul8NBHxpwrNi038RN13NHnUMK3AfTKeX+Ch4FcD3G9bQykUfzZNJ7JZHtbTvQ27adn6+HDOd14uckK7fCI2cpQ8/Bt6+H4U4K7ThWLMC9UsM+Mro4+PWBKM4n014Fi5k5KrfkW88rBhHM9uLLAX2e9/zcOafddSU9Zl5R68DLCgFIxzIdd2rL8sjye4s50avLHeX77az8hNQwdVSxd58TS+iXU3/PsFYkWSvL52WBQv+HXNRWieufO9vOdL5sBCE9kSHcz+LedyDDdJphqv+ZatWK1xOSiCTK8qeduqND+TXB84Es01NYGYad48h7tti0SU4HDcyw9gbkNKi2ktURZmL2rGPBfkdKFsNuh3PQntkgRx14NwvW8VHsf18vVM9tSmHOPahIUi4rQ1HPpAbDquoriva/rC9qVlgxJepzsGPOWXKGXSctUOQLVlCWaln9mKTFwo0wBIwrCcSeGTZL74MHhl1PsU0zQqAX800PUPDs/DXq3kQs/Pbf/sLQWV3c4dc3A8B1qWA2BWHKx3XdlXbO9SxOHiSxr2tnyNWpyR8xJ5ufaJXDSXV0/pbKaFyoW9zgqO50QX8tV7ETN48t1ANkz14yc27Homddn8I8JyPfN/B77zQwqVQOf9fKqMNTwXPCQ== peter.pletcher@peterpletcher-lt"
set system services ssh
set system services netconf ssh
set system syslog archive size 100k
set system syslog archive files 3
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system max-configurations-on-flash 5
set system max-configuration-rollbacks 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
/* If additional aggregated ethernet interfaces are needed, this will need to be incremented */
set chassis aggregated-devices ethernet device-count 1
set security log mode stream
set security log report
/* START: IPSec config for EVDC */
set security ike proposal ike-prop-vpn-em1-0 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-em1-0 dh-group group2
set security ike proposal ike-prop-vpn-em1-0 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-em1-0 encryption-algorithm aes-256-cbc
set security ike policy ike-pol-vpn-em1-0 mode main
set security ike policy ike-pol-vpn-em1-0 proposals ike-prop-vpn-em1-0
set security ike policy ike-pol-vpn-em1-0 pre-shared-key ascii-text "$9$GziqP9Ctu0IYgjk.m5TrlKvX-aJDH.fyl4ZDH.mu0BRyKY2a"
set security ike gateway gw-vpn-em1-0 ike-policy ike-pol-vpn-em1-0
set security ike gateway gw-vpn-em1-0 address 66.211.110.193
set security ike gateway gw-vpn-em1-0 external-interface ge-0/0/15
set security ipsec proposal ipsec-prop-vpn-em1-0 protocol esp
set security ipsec proposal ipsec-prop-vpn-em1-0 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-em1-0 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-em1-0 lifetime-seconds 3600
set security ipsec policy ipsec-pol-vpn-em1-0 proposals ipsec-prop-vpn-em1-0
set security ipsec vpn vpn-em1-0 bind-interface st0.0
set security ipsec vpn vpn-em1-0 df-bit clear
set security ipsec vpn vpn-em1-0 ike gateway gw-vpn-em1-0
set security ipsec vpn vpn-em1-0 ike ipsec-policy ipsec-pol-vpn-em1-0
set security ipsec vpn vpn-em1-0 establish-tunnels immediately
/* END: IPSec config for EVDC */
set security address-book global address HQ-Public 4.35.160.50/32
set security address-book global address-set LocationLabs-Public address HQ-Public
set security flow tcp-mss ipsec-vpn mss 1387
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 0.0.0.0/0
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat interface
set security policies from-zone trust to-zone trust policy trust-to-trust match source-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match destination-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match application any
set security policies from-zone trust to-zone trust policy trust-to-trust then permit
set security policies from-zone trust to-zone untrust policy trust-to-untrust match source-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match destination-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match application any
set security policies from-zone trust to-zone untrust policy trust-to-untrust then permit
/* This is what is allowing SSH & ICMP to the Juniper from the untrust zone */
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match source-address any
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match destination-address any
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match application junos-icmp-all
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP then permit
set security policies from-zone untrust to-zone junos-host policy Allow-SSH-From-LL match source-address LocationLabs-Public
set security policies from-zone untrust to-zone junos-host policy Allow-SSH-From-LL match destination-address any
set security policies from-zone untrust to-zone junos-host policy Allow-SSH-From-LL match application junos-ssh
set security policies from-zone untrust to-zone junos-host policy Allow-SSH-From-LL then permit
set security policies from-zone untrust to-zone junos-host policy Deny match source-address any
set security policies from-zone untrust to-zone junos-host policy Deny match destination-address any
set security policies from-zone untrust to-zone junos-host policy Deny match application any
set security policies from-zone untrust to-zone junos-host policy Deny then reject
set security policies default-policy deny-all
set security zones security-zone trust host-inbound-traffic system-services all
set security zones security-zone trust host-inbound-traffic protocols all
set security zones security-zone trust interfaces lo0.0
set security zones security-zone trust interfaces ae0.1500
set security zones security-zone trust interfaces ge-0/0/0.0
set security zones security-zone trust interfaces st0.0
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust interfaces ge-0/0/15.0 host-inbound-traffic system-services ssh
set security zones security-zone untrust interfaces ge-0/0/15.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces ge-0/0/15.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces ge-0/0/5.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces ge-0/0/5.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces ge-0/0/5.0 host-inbound-traffic protocols bgp
set security zones security-zone untrust interfaces ge-0/0/4.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces ge-0/0/4.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces ge-0/0/4.0 host-inbound-traffic protocols bgp
set interfaces ge-0/0/0 unit 0 description "Mgmt Interface"
set interfaces ge-0/0/0 unit 0 family inet address 10.60.0.31/25
set interfaces ge-0/0/4 description MX2
set interfaces ge-0/0/4 unit 0 family inet address 169.254.254.2/31
set interfaces ge-0/0/5 description MX1
set interfaces ge-0/0/5 unit 0 family inet address 169.254.254.0/31
set interfaces ge-0/0/6 ether-options 802.3ad ae0
set interfaces ge-0/0/7 ether-options 802.3ad ae0
set interfaces ge-0/0/15 description "Internet Uplink"
set interfaces ge-0/0/15 speed 1g
set interfaces ge-0/0/15 link-mode full-duplex
set interfaces ge-0/0/15 gigether-options no-auto-negotiation
set interfaces ge-0/0/15 unit 0 family inet address 74.217.236.34/28
set interfaces ae0 description "Gateway for DC Mgmt Network"
set interfaces ae0 vlan-tagging
set interfaces ae0 aggregated-ether-options minimum-links 1
set interfaces ae0 aggregated-ether-options lacp active
set interfaces ae0 aggregated-ether-options lacp periodic fast
set interfaces ae0 unit 1500 vlan-id 1500
set interfaces ae0 unit 1500 family inet address 10.60.0.1/25
set interfaces lo0 unit 0 family inet address 10.60.15.254/32
set interfaces st0 unit 0 family inet address 169.254.254.4/31
set routing-options static route 10.60.0.0/20 discard
set routing-options static route 10.60.0.0/20 no-install
set routing-options static route 0.0.0.0/0 next-hop 74.217.236.33
set routing-options router-id 10.60.15.254
set protocols bgp group EM1 import mgmt-edge1-in
set protocols bgp group EM1 export mgmt-edge1-out
set protocols bgp group EM1 local-as 65001
set protocols bgp group EM1 neighbor 169.254.254.5 peer-as 65000
set protocols bgp group DC-Mgmt description "DC mgmt network to frontside for Horizon API"
set protocols bgp group DC-Mgmt export mgmt-edge1-out
set protocols bgp group DC-Mgmt local-as 65001
set protocols bgp group DC-Mgmt neighbor 169.254.254.1 peer-as 198605
set protocols bgp group DC-Mgmt neighbor 169.254.254.3 peer-as 198605
set protocols lldp management-address 10.60.0.31
set protocols lldp interface ge-0/0/0
set protocols lldp interface ae0
set protocols lldp interface ge-0/0/4
set protocols lldp interface ge-0/0/5
/* We will allow RFC1918 to enter the route-table where this policy is applied */
set policy-options policy-statement mgmt-edge1-in term RFC1918 from protocol bgp
set policy-options policy-statement mgmt-edge1-in term RFC1918 from route-filter 10.0.0.0/8 orlonger
set policy-options policy-statement mgmt-edge1-in term RFC1918 from route-filter 172.16.0.0/12 orlonger
set policy-options policy-statement mgmt-edge1-in term RFC1918 from route-filter 192.168.0.0/16 orlonger
set policy-options policy-statement mgmt-edge1-in term RFC1918 then accept
set policy-options policy-statement mgmt-edge1-in term Deny then reject
/* We will advertise 10.60.0.0/20 out where this policy is applied */
set policy-options policy-statement mgmt-edge1-out term Mgmt-Networks from protocol static
set policy-options policy-statement mgmt-edge1-out term Mgmt-Networks from route-filter 10.60.0.0/20 exact
set policy-options policy-statement mgmt-edge1-out term Mgmt-Networks then accept
set policy-options policy-statement mgmt-edge1-out term Deny then reject
