set version 15.1X49-D60.7
set groups node0 system host-name core1
set groups node0 system backup-router 10.39.32.10
set groups node0 system backup-router destination 10.39.32.0/24
set groups node0 interfaces fxp0 unit 0 family inet address 10.39.32.43/24
set groups node1 system host-name core2
set groups node1 system backup-router 10.39.32.10
set groups node1 system backup-router destination 10.39.32.0/24
set groups node1 interfaces fxp0 unit 0 family inet address 10.39.32.44/24
set apply-groups "${node}"
set system root-authentication encrypted-password "$5$N1csupLx$5E/kZDramiamOYYwsxoadlsPwhIh/TLOnUgMte5j1OC"
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system login user david.selders uid 2001
set system login user david.selders class super-user
set system login user david.selders authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRqoUoOtQ7k9HIETWLtgnbZpciXcu/MLLLAnTIkgW6lWKdsd1yMp8r1pM0ykRZpAaSup39HxTzK+7U4x49RgcCUn2/M4EYV33jzkp/m6Jb6dqXQtPtMNWvmvsBZf8PhZsr/jMIAQ6tX6m+9yrVkvRWQsZSSaAsxoI/LJUWH7GX4TmJoUcMD2ZQWLJWIwIfv2DNv8x6lxB7AZGDQfD+7+swWoFxnfsu/164QJiUWQyub2tRQUEskNsebwPiPzigO4LqCTD+A8POz0BzM5i+bJ1yU5Obr0h1CyBMpThCJAso7MKBQHB5ZYd2A/0ZJUBB2DVfsp360ScRYyMv8prsp9WYQqKRTqoRegOFucpBz6XdjrvzaiS5uL2jpyzod8PAmdXlsGCjHvKyWGMmv0YQjrcZ5qTlBGCKshDKnFNKjaeUXULpgVv9XQ85nlZy1+NOcWoelYopHU+/rRiH3AVVjxshoxD6zh9aQMzSPU0Gs5PaL+lcaHMD4FK8va9zamZ0WP9uaaT8uM6i/+LsP7FMZlLyzfaxGztJPMZznusEX6Af4Iwnub/i46hYPeXXbEA0O85Xd6OMNDr5CpKDB1QkxKsCXWGxuHcoHFMzWOMoKuncNyjULTadUQh2qreC1sgkVUESdpe+nRiVBlpTYitWjF5zz2eubImkJaFc0inCAzCDJw== david.selders@locationlabs.com"
set system login user peter.pletcher uid 2000
set system login user peter.pletcher class super-user
set system login user peter.pletcher authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCoeELibgrP7LBpFKChyotKddgZ2MwairR3Q0Ixul8NBHxpwrNi038RN13NHnUMK3AfTKeX+Ch4FcD3G9bQykUfzZNJ7JZHtbTvQ27adn6+HDOd14uckK7fCI2cpQ8/Bt6+H4U4K7ThWLMC9UsM+Mro4+PWBKM4n014Fi5k5KrfkW88rBhHM9uLLAX2e9/zcOafddSU9Zl5R68DLCgFIxzIdd2rL8sjye4s50avLHeX77az8hNQwdVSxd58TS+iXU3/PsFYkWSvL52WBQv+HXNRWieufO9vOdL5sBCE9kSHcz+LedyDDdJphqv+ZatWK1xOSiCTK8qeduqND+TXB84Es01NYGYad48h7tti0SU4HDcyw9gbkNKi2ktURZmL2rGPBfkdKFsNuh3PQntkgRx14NwvW8VHsf18vVM9tSmHOPahIUi4rQ1HPpAbDquoriva/rC9qVlgxJepzsGPOWXKGXSctUOQLVlCWaln9mKTFwo0wBIwrCcSeGTZL74MHhl1PsU0zQqAX800PUPDs/DXq3kQs/Pbf/sLQWV3c4dc3A8B1qWA2BWHKx3XdlXbO9SxOHiSxr2tnyNWpyR8xJ5ufaJXDSXV0/pbKaFyoW9zgqO50QX8tV7ETN48t1ANkz14yc27Homddn8I8JyPfN/B77zQwqVQOf9fKqMNTwXPCQ== peter.pletcher@peterpletcher-lt"
set system services ssh
set system services xnm-clear-text
set system services netconf ssh
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system syslog file kmd-logs daemon info
set system syslog file kmd-logs match KMD
set system max-configurations-on-flash 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set chassis cluster reth-count 4
set chassis cluster redundancy-group 0 node 0 priority 100
set chassis cluster redundancy-group 0 node 1 priority 1
set chassis cluster redundancy-group 1 node 0 priority 100
set chassis cluster redundancy-group 1 node 1 priority 1
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/8 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/10 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-7/0/8 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-7/0/10 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/4 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-7/0/4 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/6 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-7/0/6 weight 255
set security ike proposal ike-prop-vpn-atl2-0 description "ATL2 DC Mgmt"
set security ike proposal ike-prop-vpn-atl2-0 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-atl2-0 dh-group group2
set security ike proposal ike-prop-vpn-atl2-0 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-atl2-0 encryption-algorithm aes-256-cbc
set security ike proposal ike-prop-vpn-oslab-0 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-oslab-0 dh-group group2
set security ike proposal ike-prop-vpn-oslab-0 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-oslab-0 encryption-algorithm aes-256-cbc
set security ike proposal ike-prop-vpn-atl2-1 description "ATL2 Production (Frontside)"
set security ike proposal ike-prop-vpn-atl2-1 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-atl2-1 dh-group group2
set security ike proposal ike-prop-vpn-atl2-1 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-atl2-1 encryption-algorithm aes-256-cbc
set security ike policy ike-pol-vpn-atl2-0 mode main
set security ike policy ike-pol-vpn-atl2-0 proposals ike-prop-vpn-atl2-0
set security ike policy ike-pol-vpn-atl2-0 pre-shared-key ascii-text "$9$GziqP9Ctu0IYgjk.m5TrlKvX-aJDH.fyl4ZDH.mu0BRyKY2a"
set security ike policy ike-pol-vpn-oslab-0 mode main
set security ike policy ike-pol-vpn-oslab-0 proposals ike-prop-vpn-oslab-0
set security ike policy ike-pol-vpn-oslab-0 pre-shared-key ascii-text "$9$/YRb9pBleWx-w8XbY2gJZtp01IcKMXN-baZ/A0OcSoJZUk.FnC"
set security ike policy ike-pol-vpn-atl2-1 mode main
set security ike policy ike-pol-vpn-atl2-1 proposals ike-prop-vpn-atl2-1
set security ike policy ike-pol-vpn-atl2-1 pre-shared-key ascii-text "$9$ZgGi.36Atu1mfORhSvMiHqP3/u01yevQFylM8N-fTQF/ABIc"
set security ike gateway gw-vpn-atl2-0 ike-policy ike-pol-vpn-atl2-0
set security ike gateway gw-vpn-atl2-0 address 74.217.236.34
set security ike gateway gw-vpn-atl2-0 external-interface reth1
set security ike gateway gw-vpn-oslab-0 ike-policy ike-pol-vpn-oslab-0
set security ike gateway gw-vpn-oslab-0 address 4.35.160.52
set security ike gateway gw-vpn-oslab-0 external-interface reth1
set security ike gateway gw-vpn-atl2-1 ike-policy ike-pol-vpn-atl2-1
set security ike gateway gw-vpn-atl2-1 address 5.62.30.5
set security ike gateway gw-vpn-atl2-1 external-interface reth1
set security ipsec proposal ipsec-prop-vpn-atl2-0 protocol esp
set security ipsec proposal ipsec-prop-vpn-atl2-0 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-atl2-0 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-atl2-0 lifetime-seconds 3600
set security ipsec proposal ipsec-prop-vpn-oslab-0 protocol esp
set security ipsec proposal ipsec-prop-vpn-oslab-0 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-oslab-0 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-oslab-0 lifetime-seconds 3600
set security ipsec proposal ipsec-prop-vpn-atl2-1 protocol esp
set security ipsec proposal ipsec-prop-vpn-atl2-1 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-atl2-1 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-atl2-1 lifetime-seconds 3600
set security ipsec policy ipsec-pol-vpn-atl2-0 proposals ipsec-prop-vpn-atl2-0
set security ipsec policy ipsec-pol-vpn-oslab-0 proposals ipsec-prop-vpn-oslab-0
set security ipsec policy ipsec-pol-vpn-atl2-1 proposals ipsec-prop-vpn-atl2-1
set security ipsec vpn vpn-atl2-0 bind-interface st0.0
set security ipsec vpn vpn-atl2-0 df-bit clear
set security ipsec vpn vpn-atl2-0 ike gateway gw-vpn-atl2-0
set security ipsec vpn vpn-atl2-0 ike ipsec-policy ipsec-pol-vpn-atl2-0
set security ipsec vpn vpn-atl2-0 establish-tunnels immediately
set security ipsec vpn vpn-oslab-0 bind-interface st0.1
set security ipsec vpn vpn-oslab-0 df-bit clear
set security ipsec vpn vpn-oslab-0 ike gateway gw-vpn-oslab-0
set security ipsec vpn vpn-oslab-0 ike ipsec-policy ipsec-pol-vpn-oslab-0
set security ipsec vpn vpn-oslab-0 establish-tunnels immediately
set security ipsec vpn vpn-atl2-1 bind-interface st0.2
set security ipsec vpn vpn-atl2-1 df-bit clear
set security ipsec vpn vpn-atl2-1 ike gateway gw-vpn-atl2-1
set security ipsec vpn vpn-atl2-1 ike ipsec-policy ipsec-pol-vpn-atl2-1
set security ipsec vpn vpn-atl2-1 establish-tunnels immediately
set security address-book global address loopback0.0 66.211.110.194/32
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 0.0.0.0/0
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat interface
set security policies from-zone trust to-zone trust policy default-permit match source-address any
set security policies from-zone trust to-zone trust policy default-permit match destination-address any
set security policies from-zone trust to-zone trust policy default-permit match application any
set security policies from-zone trust to-zone trust policy default-permit then permit
set security policies from-zone trust to-zone untrust policy default-permit match source-address any
set security policies from-zone trust to-zone untrust policy default-permit match destination-address any
set security policies from-zone trust to-zone untrust policy default-permit match application any
set security policies from-zone trust to-zone untrust policy default-permit then permit
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match source-address any
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match destination-address any
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP match application junos-icmp-all
set security policies from-zone untrust to-zone junos-host policy Allow-ICMP then permit
set security policies from-zone untrust to-zone junos-host policy Deny match source-address any
set security policies from-zone untrust to-zone junos-host policy Deny match destination-address any
set security policies from-zone untrust to-zone junos-host policy Deny match application any
set security policies from-zone untrust to-zone junos-host policy Deny then reject
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match source-address any
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match destination-address loopback0.0
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match application junos-icmp-all
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 match application junos-ike
set security policies from-zone untrust to-zone untrust policy IKE_to_Lo00 then permit
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match source-address loopback0.0
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match destination-address any
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match application junos-icmp-all
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE match application junos-ike
set security policies from-zone untrust to-zone untrust policy Lo00_to_IKE then permit
set security zones security-zone trust host-inbound-traffic system-services all
set security zones security-zone trust host-inbound-traffic protocols all
set security zones security-zone trust interfaces reth0.0
set security zones security-zone trust interfaces st0.0
set security zones security-zone trust interfaces st0.1
set security zones security-zone trust interfaces st0.2
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust interfaces reth1.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces reth1.0 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces reth1.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces reth3.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces reth3.0 host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces reth3.0 host-inbound-traffic system-services traceroute
set security zones security-zone Avast_Internal interfaces reth2.0
set interfaces ge-0/0/4 description "Avast Internal core-sw1 port 43"
set interfaces ge-0/0/4 gigether-options redundant-parent reth2
set interfaces ge-0/0/6 description "EVDC Border External core-sw1 port 45"
set interfaces ge-0/0/6 gigether-options redundant-parent reth3
set interfaces ge-0/0/8 description "EVDC Internal r1-tor1"
set interfaces ge-0/0/8 gigether-options redundant-parent reth0
set interfaces ge-0/0/10 description "EVDC External Vlan6 r1-tor1"
set interfaces ge-0/0/10 gigether-options redundant-parent reth1
set interfaces ge-7/0/4 description "Avast Internal core-sw2 port 43"
set interfaces ge-7/0/4 gigether-options redundant-parent reth2
set interfaces ge-7/0/6 description "EVDC Border External core-sw2 port 45"
set interfaces ge-7/0/6 gigether-options redundant-parent reth3
set interfaces ge-7/0/8 description "EVDC Internal r2-tor1"
set interfaces ge-7/0/8 gigether-options redundant-parent reth0
set interfaces ge-7/0/10 description "EVDC External Vlan6 r2-tor1"
set interfaces ge-7/0/10 gigether-options redundant-parent reth1
set interfaces fab0 fabric-options member-interfaces ge-0/0/1
set interfaces fab0 fabric-options member-interfaces ge-0/0/2
set interfaces fab1 fabric-options member-interfaces ge-7/0/1
set interfaces fab1 fabric-options member-interfaces ge-7/0/2
set interfaces fxp0 unit 0 family inet
set interfaces lo0 description "External loopback for future ha tunnel endpoints"
set interfaces lo0 unit 0 family inet address 66.211.110.194/32
set interfaces lo0 redundant-pseudo-interface-options redundancy-group 1
set interfaces reth0 description "EVDC Internal"
set interfaces reth0 redundant-ether-options redundancy-group 1
set interfaces reth0 unit 0 family inet address 172.26.171.10/13
set interfaces reth1 description "EVDC External Vlan6"
set interfaces reth1 redundant-ether-options redundancy-group 1
set interfaces reth1 unit 0 family inet address 66.211.110.193/24
set interfaces reth2 description "Avast Internal"
set interfaces reth2 redundant-ether-options redundancy-group 1
set interfaces reth2 unit 0 family inet address 10.39.0.4/28
set interfaces reth3 description "EVDC Border External"
set interfaces reth3 redundant-ether-options redundancy-group 1
set interfaces reth3 unit 0 family inet address 66.211.99.50/29
set interfaces st0 unit 0 family inet address 169.254.254.5/31
set interfaces st0 unit 1 family inet address 169.254.254.6/31
set interfaces st0 unit 2 family inet address 169.254.254.8/31
set routing-options static route 10.38.0.0/15 next-hop 172.24.1.20
set routing-options static route 0.0.0.0/0 next-hop 66.211.110.1
set routing-options static route 10.57.6.10/32 next-hop 172.24.0.1
set routing-options static route 10.57.6.11/32 next-hop 172.24.0.1
set routing-options static route 10.32.162.19/32 next-hop 172.24.0.1
set routing-options static route 10.32.162.25/32 next-hop 172.24.0.1
set routing-options router-id 172.31.255.254
set routing-options autonomous-system 65000
set protocols bgp group ATL2-mgmt import core-evdc-in
set protocols bgp group ATL2-mgmt export core-evdc-out
set protocols bgp group ATL2-mgmt neighbor 169.254.254.4 peer-as 65001
set protocols bgp group OSLab-mgmt type external
set protocols bgp group OSLab-mgmt import core-evdc-in
set protocols bgp group OSLab-mgmt export core-evdc-out
set protocols bgp group OSLab-mgmt neighbor 169.254.254.7 peer-as 65002
set protocols bgp group ATL2-dataplane type external
set protocols bgp group ATL2-dataplane import core-evdc-in
set protocols bgp group ATL2-dataplane export core-evdc-out
set protocols bgp group ATL2-dataplane neighbor 169.254.254.9 peer-as 198605
set protocols l2-learning global-mode switching
set policy-options policy-statement core-evdc-in term ATL2-Mgmt-Networks from protocol bgp
set policy-options policy-statement core-evdc-in term ATL2-Mgmt-Networks from route-filter 10.60.0.0/20 exact
set policy-options policy-statement core-evdc-in term ATL2-Mgmt-Networks then accept
set policy-options policy-statement core-evdc-in term OSLab-Mgmt-Networks from protocol bgp
set policy-options policy-statement core-evdc-in term OSLab-Mgmt-Networks from route-filter 10.38.32.0/25 exact
set policy-options policy-statement core-evdc-in term OSLab-Mgmt-Networks then accept
set policy-options policy-statement core-evdc-in term Deny then reject
set policy-options policy-statement core-evdc-out term EVDC-Networks from protocol direct
set policy-options policy-statement core-evdc-out term EVDC-Networks from route-filter 172.24.0.0/13 exact
set policy-options policy-statement core-evdc-out term EVDC-Networks then accept
set policy-options policy-statement core-evdc-out term HQ-Networks from protocol static
set policy-options policy-statement core-evdc-out term HQ-Networks from route-filter 10.38.0.0/15 exact
set policy-options policy-statement core-evdc-out term HQ-Networks then accept
set policy-options policy-statement core-evdc-out term Avast from protocol static
set policy-options policy-statement core-evdc-out term Avast from route-filter 10.57.6.10/32 exact
set policy-options policy-statement core-evdc-out term Avast from route-filter 10.57.6.11/32 exact
set policy-options policy-statement core-evdc-out term Avast from route-filter 10.32.162.19/32 exact
set policy-options policy-statement core-evdc-out term Avast from route-filter 10.32.162.25/32 exact
set policy-options policy-statement core-evdc-out term Avast then accept
set policy-options policy-statement core-evdc-out term Deny then reject
