set version 15.1X49-D130.6
set groups node0 system host-name core1-0
set groups node0 system backup-router 10.38.32.1
set groups node0 system backup-router destination 10.38.0.0/16
set groups node0 system syslog source-address 10.38.32.15
set groups node0 interfaces fxp0 unit 0 family inet address 10.38.32.15/25
set groups node1 system host-name core1-1
set groups node1 system backup-router 10.38.32.1
set groups node1 system backup-router destination 10.38.0.0/16
set groups node1 system syslog source-address 10.38.32.16
set groups node1 interfaces fxp0 unit 0 family inet address 10.38.32.16/25
set apply-groups "${node}"
set system time-zone UTC
set system root-authentication encrypted-password "$5$R.KTswIp$2cw8E5mf81Ljq3F46Hf30jzpKOJdXQquS5ThfUTsAH3"
set system name-server 8.8.8.8
set system name-server 8.8.4.4
set system login class RANCID permissions access
set system login class RANCID permissions admin
set system login class RANCID permissions firewall
set system login class RANCID permissions flow-tap
set system login class RANCID permissions interface
set system login class RANCID permissions network
set system login class RANCID permissions routing
set system login class RANCID permissions secret
set system login class RANCID permissions security
set system login class RANCID permissions snmp
set system login class RANCID permissions storage
set system login class RANCID permissions system
set system login class RANCID permissions trace
set system login class RANCID permissions view
set system login class RANCID permissions view-configuration
set system login user david.selders uid 1001
set system login user david.selders class super-user
set system login user david.selders authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRqoUoOtQ7k9HIETWLtgnbZpciXcu/MLLLAnTIkgW6lWKdsd1yMp8r1pM0ykRZpAaSup39HxTzK+7U4x49RgcCUn2/M4EYV33jzkp/m6Jb6dqXQtPtMNWvmvsBZf8PhZsr/jMIAQ6tX6m+9yrVkvRWQsZSSaAsxoI/LJUWH7GX4TmJoUcMD2ZQWLJWIwIfv2DNv8x6lxB7AZGDQfD+7+swWoFxnfsu/164QJiUWQyub2tRQUEskNsebwPiPzigO4LqCTD+A8POz0BzM5i+bJ1yU5Obr0h1CyBMpThCJAso7MKBQHB5ZYd2A/0ZJUBB2DVfsp360ScRYyMv8prsp9WYQqKRTqoRegOFucpBz6XdjrvzaiS5uL2jpyzod8PAmdXlsGCjHvKyWGMmv0YQjrcZ5qTlBGCKshDKnFNKjaeUXULpgVv9XQ85nlZy1+NOcWoelYopHU+/rRiH3AVVjxshoxD6zh9aQMzSPU0Gs5PaL+lcaHMD4FK8va9zamZ0WP9uaaT8uM6i/+LsP7FMZlLyzfaxGztJPMZznusEX6Af4Iwnub/i46hYPeXXbEA0O85Xd6OMNDr5CpKDB1QkxKsCXWGxuHcoHFMzWOMoKuncNyjULTadUQh2qreC1sgkVUESdpe+nRiVBlpTYitWjF5zz2eubImkJaFc0inCAzCDJw== david.selders@locationlabs.com"
set system login user rancid full-name RANCID
set system login user rancid uid 2001
set system login user rancid class RANCID
set system login user rancid authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDoqCebUtvf/AYgnhvu2sWjCculvumpeauTkjeZvAVn/cjX4y4BsDqs+BhaOBbDMFt2pajaGreN6Vcnxrq/fGF3aSjWbz/4PwJlk0Xawgg1yz2Qe8p8KEuE2iT1pfWFbU2tBQVR0F2VW/deVhfxVZoX3yXyA3ayZZkLhZxHr6voGf3UfIRmhnPxz/NQio/2qdwTFtMUJl381Sqc5qUCIVAhwPmwfD/If00ffMWRfRLHlG7DLwXKNhcoUEur/dv0xFVvrUXun32Zo9fV1Lnmehb2BSWOaV9q9XODV+y5fg18XTYtF7R7c/lfPgiEwSoat9m+grTLMKtVjckEiEULfRX9fFQIkEz6DezAXI07jiJCVsA+16d1MfvgTRneBv9LeE4E4iNEnnC0EEXg0C3aedtvq2Qrkw23t1HgwW8ebFceBFo4hWviFoxnh06hHsPVT5J9e5Ut7Xs4S17FHucJIocpR1VWCFir/Hmmjo/oPCY/HKDTV+/YCbtBX2jhzSkLE5S1XJRzzIgJrpt9vbWpnxbyAesAwbxKLSUnEJmItfWls0D9RgexWUehafjDzgUQnYjpw2ax2cgU5O6sn9is89ednxgBVElS5JvN5IxndG25nlHi7/hg6wvGnK7WmNHBhKB6HeR1y4aVQn1KcujIsVwZkGg4tJmtJWZ5xiA5sFWWhQ== rancid@ig-deploy"
set system services ssh
set system services netconf ssh
set system syslog archive size 100k
set system syslog archive files 3
set system syslog user * any emergency
set system syslog host 10.38.32.51 any info
set system syslog host 10.38.32.51 port 5046
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system max-configurations-on-flash 5
set system max-configuration-rollbacks 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set chassis cluster reth-count 2
set chassis cluster redundancy-group 0 node 0 priority 254
set chassis cluster redundancy-group 0 node 1 priority 1
set chassis cluster redundancy-group 1 node 0 priority 254
set chassis cluster redundancy-group 1 node 1 priority 1
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/4 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-0/0/5 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-3/0/4 weight 255
set chassis cluster redundancy-group 1 interface-monitor ge-3/0/5 weight 255
set security ike proposal ike-prop-vpn-oslab-1 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-oslab-1 dh-group group2
set security ike proposal ike-prop-vpn-oslab-1 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-oslab-1 encryption-algorithm aes-256-cbc
set security ike policy ike-pol-vpn-oslab-1 mode main
set security ike policy ike-pol-vpn-oslab-1 proposals ike-prop-vpn-oslab-1
set security ike policy ike-pol-vpn-oslab-1 pre-shared-key ascii-text "$9$Xqf7-w24ZH.PYgjkmPzFMWL7dwjiq.PQBIVY2gDjz36Cu1eK8"
set security ike gateway gw-vpn-oslab-1 ike-policy ike-pol-vpn-oslab-1
set security ike gateway gw-vpn-oslab-1 address 66.211.110.193
set security ike gateway gw-vpn-oslab-1 external-interface lo0.0
set security ike gateway gw-vpn-oslab-1 local-address 8.44.176.254
set security ipsec proposal ipsec-prop-vpn-oslab-1 protocol esp
set security ipsec proposal ipsec-prop-vpn-oslab-1 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-oslab-1 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-oslab-1 lifetime-seconds 3600
set security ipsec policy ipsec-pol-vpn-oslab-1 proposals ipsec-prop-vpn-oslab-1
set security ipsec vpn vpn-oslab-1 bind-interface st0.1
set security ipsec vpn vpn-oslab-1 df-bit clear
set security ipsec vpn vpn-oslab-1 ike gateway gw-vpn-oslab-1
set security ipsec vpn vpn-oslab-1 ike ipsec-policy ipsec-pol-vpn-oslab-1
set security ipsec vpn vpn-oslab-1 establish-tunnels immediately
set security address-book global address ns1.evidc 10.39.3.53/32
set security address-book global address ns2.evidc 10.39.3.54/32
set security address-book global address lab1-horizion-vip 10.38.40.2/32
set security address-book global address lab2-horizon-vip 10.38.40.34/32
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source pool 8_44_176_254 address 8.44.176.254/32
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 0.0.0.0/0
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat pool 8_44_176_254
set security nat source rule-set Undercloud-lab1_to_untrust from zone undercloud-lab1
set security nat source rule-set Undercloud-lab1_to_untrust to zone untrust
set security nat source rule-set Undercloud-lab1_to_untrust rule snat match source-address 0.0.0.0/0
set security nat source rule-set Undercloud-lab1_to_untrust rule snat then source-nat pool 8_44_176_254
set security policies from-zone trust to-zone trust policy trust-to-trust match source-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match destination-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match application any
set security policies from-zone trust to-zone trust policy trust-to-trust then permit
set security policies from-zone trust to-zone untrust policy trust-to-untrust match source-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match destination-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match application any
set security policies from-zone trust to-zone untrust policy trust-to-untrust then permit
set security policies from-zone undercloud-lab1 to-zone undercloud-lab1 policy AllowAll match source-address any
set security policies from-zone undercloud-lab1 to-zone undercloud-lab1 policy AllowAll match destination-address any
set security policies from-zone undercloud-lab1 to-zone undercloud-lab1 policy AllowAll match application any
set security policies from-zone undercloud-lab1 to-zone undercloud-lab1 policy AllowAll then permit
set security policies from-zone trust to-zone undercloud-lab1 policy AllowICMP match source-address any
set security policies from-zone trust to-zone undercloud-lab1 policy AllowICMP match destination-address any
set security policies from-zone trust to-zone undercloud-lab1 policy AllowICMP match application junos-icmp-all
set security policies from-zone trust to-zone undercloud-lab1 policy AllowICMP then permit
set security policies from-zone trust to-zone undercloud-lab1 policy Horzion match source-address any
set security policies from-zone trust to-zone undercloud-lab1 policy Horzion match destination-address lab1-horizion-vip
set security policies from-zone trust to-zone undercloud-lab1 policy Horzion match destination-address lab2-horizon-vip
set security policies from-zone trust to-zone undercloud-lab1 policy Horzion match application any
set security policies from-zone trust to-zone undercloud-lab1 policy Horzion then permit
set security policies from-zone undercloud-lab1 to-zone trust policy AllowICMP match source-address any
set security policies from-zone undercloud-lab1 to-zone trust policy AllowICMP match destination-address any
set security policies from-zone undercloud-lab1 to-zone trust policy AllowICMP match application junos-icmp-all
set security policies from-zone undercloud-lab1 to-zone trust policy AllowICMP then permit
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS match source-address any
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS match destination-address ns1.evidc
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS match destination-address ns2.evidc
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS match application junos-dns-tcp
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS match application junos-dns-udp
set security policies from-zone undercloud-lab1 to-zone trust policy Undercloud_TO_DNS then permit
set security policies from-zone untrust to-zone untrust policy AllowAll match source-address any
set security policies from-zone untrust to-zone untrust policy AllowAll match destination-address any
set security policies from-zone untrust to-zone untrust policy AllowAll match application any
set security policies from-zone untrust to-zone untrust policy AllowAll then permit
set security policies from-zone undercloud-lab2 to-zone trust policy AllowICMP match source-address any
set security policies from-zone undercloud-lab2 to-zone trust policy AllowICMP match destination-address any
set security policies from-zone undercloud-lab2 to-zone trust policy AllowICMP match application junos-icmp-all
set security policies from-zone undercloud-lab2 to-zone trust policy AllowICMP then permit
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS match source-address any
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS match destination-address ns1.evidc
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS match destination-address ns2.evidc
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS match application junos-dns-tcp
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS match application junos-dns-udp
set security policies from-zone undercloud-lab2 to-zone trust policy Undercloud_TO_DNS then permit
set security policies from-zone undercloud-lab2 to-zone undercloud-lab2 policy AllowAll match source-address any
set security policies from-zone undercloud-lab2 to-zone undercloud-lab2 policy AllowAll match destination-address any
set security policies from-zone undercloud-lab2 to-zone undercloud-lab2 policy AllowAll match application any
set security policies from-zone undercloud-lab2 to-zone undercloud-lab2 policy AllowAll then permit
set security policies from-zone trust to-zone undercloud-lab2 policy AllowICMP match source-address any
set security policies from-zone trust to-zone undercloud-lab2 policy AllowICMP match destination-address any
set security policies from-zone trust to-zone undercloud-lab2 policy AllowICMP match application junos-icmp-all
set security policies from-zone trust to-zone undercloud-lab2 policy AllowICMP then permit
set security policies from-zone trust to-zone undercloud-lab2 policy Horzion match source-address any
set security policies from-zone trust to-zone undercloud-lab2 policy Horzion match destination-address lab1-horizion-vip
set security policies from-zone trust to-zone undercloud-lab2 policy Horzion match destination-address lab2-horizon-vip
set security policies from-zone trust to-zone undercloud-lab2 policy Horzion match application any
set security policies from-zone trust to-zone undercloud-lab2 policy Horzion then permit
set security zones security-zone trust host-inbound-traffic system-services all
set security zones security-zone trust host-inbound-traffic protocols all
set security zones security-zone trust interfaces reth0.1520
set security zones security-zone trust interfaces reth0.1620
set security zones security-zone trust interfaces lt-0/0/0.0
set security zones security-zone trust interfaces reth0.1521
set security zones security-zone trust interfaces st0.1
set security zones security-zone trust interfaces lt-0/0/0.2
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces reth1.1502 host-inbound-traffic system-services traceroute
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services ping
set security zones security-zone untrust interfaces lo0.0 host-inbound-traffic system-services traceroute
set security zones security-zone undercloud-lab1 host-inbound-traffic system-services ping
set security zones security-zone undercloud-lab1 host-inbound-traffic system-services traceroute
set security zones security-zone undercloud-lab1 interfaces reth1.1504 host-inbound-traffic protocols ospf
set security zones security-zone undercloud-lab1 interfaces lo0.1 host-inbound-traffic protocols bgp
set security zones security-zone undercloud-lab1 interfaces lt-0/0/0.1 host-inbound-traffic protocols bgp
set security zones security-zone undercloud-lab1 interfaces lt-0/0/0.1 host-inbound-traffic protocols ospf
set security zones security-zone undercloud-lab1 interfaces reth0.1517
set security zones security-zone undercloud-lab2 host-inbound-traffic system-services ping
set security zones security-zone undercloud-lab2 host-inbound-traffic system-services traceroute
set security zones security-zone undercloud-lab2 interfaces reth1.1604 host-inbound-traffic protocols ospf
set security zones security-zone undercloud-lab2 interfaces lo0.2 host-inbound-traffic protocols bgp
set security zones security-zone undercloud-lab2 interfaces lt-0/0/0.3 host-inbound-traffic protocols bgp
set security zones security-zone undercloud-lab2 interfaces lt-0/0/0.3 host-inbound-traffic protocols ospf
set security zones security-zone undercloud-lab2 interfaces reth0.1617
set interfaces lt-0/0/0 unit 0 description "Global instance end"
set interfaces lt-0/0/0 unit 0 encapsulation ethernet
set interfaces lt-0/0/0 unit 0 peer-unit 1
set interfaces lt-0/0/0 unit 0 family inet address 10.38.47.196/31
set interfaces lt-0/0/0 unit 1 description "Undercloud lab1 instance end"
set interfaces lt-0/0/0 unit 1 encapsulation ethernet
set interfaces lt-0/0/0 unit 1 peer-unit 0
set interfaces lt-0/0/0 unit 1 family inet address 10.38.47.197/31
set interfaces lt-0/0/0 unit 2 description "Global instance end"
set interfaces lt-0/0/0 unit 2 encapsulation ethernet
set interfaces lt-0/0/0 unit 2 peer-unit 3
set interfaces lt-0/0/0 unit 2 family inet address 10.38.47.198/31
set interfaces lt-0/0/0 unit 3 description "Undercloud lab2 instance end"
set interfaces lt-0/0/0 unit 3 encapsulation ethernet
set interfaces lt-0/0/0 unit 3 peer-unit 2
set interfaces lt-0/0/0 unit 3 family inet address 10.38.47.199/31
set interfaces ge-0/0/4 gigether-options redundant-parent reth0
set interfaces ge-0/0/5 gigether-options redundant-parent reth1
set interfaces ge-3/0/4 gigether-options redundant-parent reth0
set interfaces ge-3/0/5 gigether-options redundant-parent reth1
set interfaces fab0 fabric-options member-interfaces ge-0/0/2
set interfaces fab1 fabric-options member-interfaces ge-3/0/2
set interfaces lo0 unit 0 family inet address 10.38.47.254/32
set interfaces lo0 unit 0 family inet address 8.44.176.254/32
set interfaces lo0 unit 1 family inet address 10.38.47.225/32
set interfaces lo0 unit 2 family inet address 10.38.47.227/32
set interfaces reth0 vlan-tagging
set interfaces reth0 redundant-ether-options redundancy-group 1
set interfaces reth0 redundant-ether-options lacp passive
set interfaces reth0 redundant-ether-options lacp periodic fast
set interfaces reth0 unit 1517 vlan-id 1517
set interfaces reth0 unit 1517 family inet address 10.38.40.1/27
set interfaces reth0 unit 1520 vlan-id 1520
set interfaces reth0 unit 1520 family inet address 10.38.41.1/25
set interfaces reth0 unit 1521 vlan-id 1521
set interfaces reth0 unit 1521 family inet address 8.44.176.1/25
set interfaces reth0 unit 1617 vlan-id 1617
set interfaces reth0 unit 1617 family inet address 10.38.40.33/27
set interfaces reth0 unit 1620 vlan-id 1620
set interfaces reth0 unit 1620 family inet address 10.38.41.129/25
set interfaces reth1 vlan-tagging
set interfaces reth1 redundant-ether-options redundancy-group 1
set interfaces reth1 redundant-ether-options lacp passive
set interfaces reth1 redundant-ether-options lacp periodic fast
set interfaces reth1 unit 1502 description "Level3 (edge1 <--> core1)"
set interfaces reth1 unit 1502 vlan-id 1502
set interfaces reth1 unit 1502 family inet address 10.38.47.218/29
set interfaces reth1 unit 1504 vlan-id 1504
set interfaces reth1 unit 1504 family inet address 10.38.47.193/31
set interfaces reth1 unit 1604 vlan-id 1604
set interfaces reth1 unit 1604 family inet address 10.38.47.201/31
set interfaces st0 unit 1 family inet address 169.254.254.11/31
set routing-options static route 8.44.176.0/24 discard
set routing-options static route 8.44.176.0/24 no-install
set routing-options static route 10.38.40.0/21 discard
set routing-options static route 10.38.40.0/21 no-install
set routing-options router-id 10.38.47.254
set routing-options autonomous-system 63388
set protocols bgp group iBGP type internal
set protocols bgp group iBGP export Wavemarket-OUT
set protocols bgp group iBGP neighbor 10.38.47.217
set protocols bgp group Undercloud-lab1 type internal
set protocols bgp group Undercloud-lab1 local-address 10.38.47.254
set protocols bgp group Undercloud-lab1 export GenDefault
set protocols bgp group Undercloud-lab1 export RFC1918
set protocols bgp group Undercloud-lab1 neighbor 10.38.47.225
set protocols bgp group EVDC type external
set protocols bgp group EVDC export OSLAB-Dataplane-out
set protocols bgp group EVDC neighbor 169.254.254.10 peer-as 65000
set protocols bgp group Undercloud-lab2 type internal
set protocols bgp group Undercloud-lab2 local-address 10.38.47.254
set protocols bgp group Undercloud-lab2 export RFC1918
set protocols bgp group Undercloud-lab2 neighbor 10.38.47.227
set protocols ospf reference-bandwidth 100g
set protocols ospf area 0.0.0.0 interface lo0.0 passive
set protocols ospf area 0.0.0.0 interface lt-0/0/0.0 interface-type p2p
set protocols ospf area 0.0.0.0 interface lt-0/0/0.2 interface-type p2p
set protocols l2-learning global-mode transparent-bridge
set protocols lldp interface all
set policy-options policy-statement GenDefault term 10 from protocol bgp
set policy-options policy-statement GenDefault term 10 from route-filter 0.0.0.0/0 exact
set policy-options policy-statement GenDefault term 10 then next-hop self
set policy-options policy-statement GenDefault term 10 then accept
set policy-options policy-statement OSLAB-Dataplane-out term Dataplane from protocol static
set policy-options policy-statement OSLAB-Dataplane-out term Dataplane from route-filter 10.38.40.0/21 exact
set policy-options policy-statement OSLAB-Dataplane-out term Dataplane then accept
set policy-options policy-statement OSLAB-Dataplane-out term Deny then reject
set policy-options policy-statement RFC1918 term 10 from protocol bgp
set policy-options policy-statement RFC1918 term 10 from protocol static
set policy-options policy-statement RFC1918 term 10 from route-filter 10.0.0.0/8 orlonger
set policy-options policy-statement RFC1918 term 10 then next-hop self
set policy-options policy-statement RFC1918 term 10 then accept
set policy-options policy-statement RFC1918 term 172.16 from protocol bgp
set policy-options policy-statement RFC1918 term 172.16 from protocol static
set policy-options policy-statement RFC1918 term 172.16 from route-filter 172.16.0.0/12 orlonger
set policy-options policy-statement RFC1918 term 172.16 then next-hop self
set policy-options policy-statement RFC1918 term 172.16 then accept
set policy-options policy-statement RFC1918 term 192.168 from protocol bgp
set policy-options policy-statement RFC1918 term 192.168 from protocol static
set policy-options policy-statement RFC1918 term 192.168 from route-filter 192.168.0.0/16 orlonger
set policy-options policy-statement RFC1918 term 192.168 then next-hop self
set policy-options policy-statement RFC1918 term 192.168 then accept
set policy-options policy-statement RFC1918 then reject
set policy-options policy-statement Undercloud-lab1-OUT term 10 from protocol bgp
set policy-options policy-statement Undercloud-lab1-OUT term 10 from route-filter 10.38.40.0/21 orlonger
set policy-options policy-statement Undercloud-lab1-OUT term 10 then accept
set policy-options policy-statement Undercloud-lab1-OUT term OS_ExternalNetwork1 from protocol direct
set policy-options policy-statement Undercloud-lab1-OUT term OS_ExternalNetwork1 from route-filter 10.38.40.0/27 exact
set policy-options policy-statement Undercloud-lab1-OUT term OS_ExternalNetwork1 then accept
set policy-options policy-statement Undercloud-lab2-OUT term 10 from protocol bgp
set policy-options policy-statement Undercloud-lab2-OUT term 10 from route-filter 10.38.40.0/21 orlonger
set policy-options policy-statement Undercloud-lab2-OUT term 10 then accept
set policy-options policy-statement Undercloud-lab2-OUT term OS_ExternalNetwork2 from protocol direct
set policy-options policy-statement Undercloud-lab2-OUT term OS_ExternalNetwork2 from route-filter 10.38.40.32/27 exact
set policy-options policy-statement Undercloud-lab2-OUT term OS_ExternalNetwork2 then accept
set policy-options policy-statement Wavemarket-OUT term 10 from protocol static
set policy-options policy-statement Wavemarket-OUT term 10 from route-filter 8.44.176.0/24 exact
set policy-options policy-statement Wavemarket-OUT term 10 then accept
set policy-options policy-statement Wavemarket-OUT then reject
set routing-instances Undercloud-lab1 instance-type virtual-router
set routing-instances Undercloud-lab1 interface lt-0/0/0.1
set routing-instances Undercloud-lab1 interface lo0.1
set routing-instances Undercloud-lab1 interface reth0.1517
set routing-instances Undercloud-lab1 interface reth1.1504
set routing-instances Undercloud-lab1 routing-options static route 0.0.0.0/0 next-hop 10.38.47.196
set routing-instances Undercloud-lab1 routing-options router-id 10.38.47.225
set routing-instances Undercloud-lab1 routing-options autonomous-system 63388
set routing-instances Undercloud-lab1 protocols bgp group iBGP type internal
set routing-instances Undercloud-lab1 protocols bgp group iBGP local-address 10.38.47.225
set routing-instances Undercloud-lab1 protocols bgp group iBGP export Undercloud-lab1-OUT
set routing-instances Undercloud-lab1 protocols bgp group iBGP cluster 10.38.47.225
set routing-instances Undercloud-lab1 protocols bgp group iBGP neighbor 10.38.47.226
set routing-instances Undercloud-lab1 protocols bgp group iBGP neighbor 10.38.47.254
set routing-instances Undercloud-lab1 protocols ospf reference-bandwidth 100g
set routing-instances Undercloud-lab1 protocols ospf area 0.0.0.0 interface lo0.1 passive
set routing-instances Undercloud-lab1 protocols ospf area 0.0.0.0 interface reth1.1504 interface-type p2p
set routing-instances Undercloud-lab1 protocols ospf area 0.0.0.0 interface lt-0/0/0.1 interface-type p2p
set routing-instances Undercloud-lab2 instance-type virtual-router
set routing-instances Undercloud-lab2 interface lt-0/0/0.3
set routing-instances Undercloud-lab2 interface lo0.2
set routing-instances Undercloud-lab2 interface reth0.1617
set routing-instances Undercloud-lab2 interface reth1.1604
set routing-instances Undercloud-lab2 routing-options router-id 10.38.47.227
set routing-instances Undercloud-lab2 routing-options autonomous-system 63388
set routing-instances Undercloud-lab2 protocols bgp group iBGP type internal
set routing-instances Undercloud-lab2 protocols bgp group iBGP local-address 10.38.47.227
set routing-instances Undercloud-lab2 protocols bgp group iBGP export Undercloud-lab2-OUT
set routing-instances Undercloud-lab2 protocols bgp group iBGP cluster 10.38.47.227
set routing-instances Undercloud-lab2 protocols bgp group iBGP neighbor 10.38.47.228
set routing-instances Undercloud-lab2 protocols bgp group iBGP neighbor 10.38.47.254
set routing-instances Undercloud-lab2 protocols ospf reference-bandwidth 100g
set routing-instances Undercloud-lab2 protocols ospf area 0.0.0.0 interface lo0.2 passive
set routing-instances Undercloud-lab2 protocols ospf area 0.0.0.0 interface reth1.1604 interface-type p2p
set routing-instances Undercloud-lab2 protocols ospf area 0.0.0.0 interface lt-0/0/0.3 interface-type p2p
