set version 15.1R6.7
set system host-name edge1
set system domain-name os-lab.hq.wavemarket.com
set system time-zone UTC
set system root-authentication encrypted-password "$5$vvjrjJ48$Hn6nQba9MI.iY0w922o3Ba8//pF2BuUsjNnqk/Qlua1"
set system login class RANCID permissions access
set system login class RANCID permissions admin
set system login class RANCID permissions firewall
set system login class RANCID permissions flow-tap
set system login class RANCID permissions interface
set system login class RANCID permissions network
set system login class RANCID permissions routing
set system login class RANCID permissions secret
set system login class RANCID permissions security
set system login class RANCID permissions snmp
set system login class RANCID permissions storage
set system login class RANCID permissions system
set system login class RANCID permissions trace
set system login class RANCID permissions view
set system login class RANCID permissions view-configuration
set system login user david.selders uid 1001
set system login user david.selders class super-user
set system login user david.selders authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRqoUoOtQ7k9HIETWLtgnbZpciXcu/MLLLAnTIkgW6lWKdsd1yMp8r1pM0ykRZpAaSup39HxTzK+7U4x49RgcCUn2/M4EYV33jzkp/m6Jb6dqXQtPtMNWvmvsBZf8PhZsr/jMIAQ6tX6m+9yrVkvRWQsZSSaAsxoI/LJUWH7GX4TmJoUcMD2ZQWLJWIwIfv2DNv8x6lxB7AZGDQfD+7+swWoFxnfsu/164QJiUWQyub2tRQUEskNsebwPiPzigO4LqCTD+A8POz0BzM5i+bJ1yU5Obr0h1CyBMpThCJAso7MKBQHB5ZYd2A/0ZJUBB2DVfsp360ScRYyMv8prsp9WYQqKRTqoRegOFucpBz6XdjrvzaiS5uL2jpyzod8PAmdXlsGCjHvKyWGMmv0YQjrcZ5qTlBGCKshDKnFNKjaeUXULpgVv9XQ85nlZy1+NOcWoelYopHU+/rRiH3AVVjxshoxD6zh9aQMzSPU0Gs5PaL+lcaHMD4FK8va9zamZ0WP9uaaT8uM6i/+LsP7FMZlLyzfaxGztJPMZznusEX6Af4Iwnub/i46hYPeXXbEA0O85Xd6OMNDr5CpKDB1QkxKsCXWGxuHcoHFMzWOMoKuncNyjULTadUQh2qreC1sgkVUESdpe+nRiVBlpTYitWjF5zz2eubImkJaFc0inCAzCDJw== david.selders@locationlabs.com"
set system login user rancid full-name RANCID
set system login user rancid uid 2001
set system login user rancid class RANCID
set system login user rancid authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDoqCebUtvf/AYgnhvu2sWjCculvumpeauTkjeZvAVn/cjX4y4BsDqs+BhaOBbDMFt2pajaGreN6Vcnxrq/fGF3aSjWbz/4PwJlk0Xawgg1yz2Qe8p8KEuE2iT1pfWFbU2tBQVR0F2VW/deVhfxVZoX3yXyA3ayZZkLhZxHr6voGf3UfIRmhnPxz/NQio/2qdwTFtMUJl381Sqc5qUCIVAhwPmwfD/If00ffMWRfRLHlG7DLwXKNhcoUEur/dv0xFVvrUXun32Zo9fV1Lnmehb2BSWOaV9q9XODV+y5fg18XTYtF7R7c/lfPgiEwSoat9m+grTLMKtVjckEiEULfRX9fFQIkEz6DezAXI07jiJCVsA+16d1MfvgTRneBv9LeE4E4iNEnnC0EEXg0C3aedtvq2Qrkw23t1HgwW8ebFceBFo4hWviFoxnh06hHsPVT5J9e5Ut7Xs4S17FHucJIocpR1VWCFir/Hmmjo/oPCY/HKDTV+/YCbtBX2jhzSkLE5S1XJRzzIgJrpt9vbWpnxbyAesAwbxKLSUnEJmItfWls0D9RgexWUehafjDzgUQnYjpw2ax2cgU5O6sn9is89ednxgBVElS5JvN5IxndG25nlHi7/hg6wvGnK7WmNHBhKB6HeR1y4aVQn1KcujIsVwZkGg4tJmtJWZ5xiA5sFWWhQ== rancid@ig-deploy"
set system services ssh root-login allow
set system services netconf ssh
set system syslog user * any emergency
set system syslog host 10.38.32.51 any info
set system syslog host 10.38.32.51 port 5046
set system syslog file messages any any
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system syslog source-address 10.38.32.17
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set chassis aggregated-devices ethernet device-count 1
set interfaces ge-0/0/0 unit 0 description Level3
set interfaces ge-0/0/0 unit 0 family inet address 4.35.160.50/29
set interfaces ge-0/0/2 vlan-tagging
set interfaces ge-0/0/2 unit 1498 description "Underclcoud lab2 interconnect (edge1 <--> mgmt-edge1)"
set interfaces ge-0/0/2 unit 1498 vlan-id 1498
set interfaces ge-0/0/2 unit 1498 family inet address 169.254.254.3/31
set interfaces ge-0/0/2 unit 1499 description "Underclcoud lab1 interconnect (edge1 <--> mgmt-edge1)"
set interfaces ge-0/0/2 unit 1499 vlan-id 1499
set interfaces ge-0/0/2 unit 1499 family inet address 169.254.254.1/31
set interfaces xe-2/0/0 gigether-options 802.3ad ae0
set interfaces xe-2/0/1 gigether-options 802.3ad ae0
set interfaces ae0 description "Edge1 <--> Core1 interconnect"
set interfaces ae0 vlan-tagging
set interfaces ae0 aggregated-ether-options lacp passive
set interfaces ae0 aggregated-ether-options lacp periodic fast
set interfaces ae0 unit 1502 description "Level3 (edge1 <--> core1)"
set interfaces ae0 unit 1502 vlan-id 1502
set interfaces ae0 unit 1502 family inet address 10.38.47.217/29
set interfaces ae0 unit 1504 vlan-id 1504
set interfaces ae0 unit 1504 family inet address 10.38.47.192/31
set interfaces ae0 unit 1604 vlan-id 1604
set interfaces ae0 unit 1604 family inet address 10.38.47.200/31
set interfaces fxp0 unit 0 description Mgmt
set interfaces fxp0 unit 0 family inet address 10.38.32.17/25
set interfaces lo0 unit 0 description "Global instance loopback"
set interfaces lo0 unit 0 family inet address 10.38.47.253/32
set interfaces lo0 unit 1 description "Undercloud instance loopback"
set interfaces lo0 unit 1 family inet address 10.38.47.226/32
set interfaces lo0 unit 2 family inet address 10.38.47.228/32
set routing-options static route 0.0.0.0/0 next-hop 4.35.160.49
set routing-options router-id 10.38.47.253
set routing-options autonomous-system 63388
set protocols bgp group iBGP type internal
set protocols bgp group iBGP export generate-default
set protocols bgp group iBGP neighbor 10.38.47.218
set protocols bgp group Level3 type external
set protocols bgp group Level3 import Level3-IN
set protocols bgp group Level3 export Level3-OUT
set protocols bgp group Level3 neighbor 4.35.160.49 peer-as 3356
set protocols lldp interface all
set protocols lldp interface ge-0/0/1 disable
set policy-options policy-statement Level3-IN term AllowLevel3 from protocol bgp
set policy-options policy-statement Level3-IN term AllowLevel3 then accept
set policy-options policy-statement Level3-IN then reject
set policy-options policy-statement Level3-OUT term Wavemarket from protocol bgp
set policy-options policy-statement Level3-OUT term Wavemarket from route-filter 8.44.176.0/24 exact
set policy-options policy-statement Level3-OUT term Wavemarket then accept
set policy-options policy-statement Level3-OUT then reject
set policy-options policy-statement generate-default term 10 from protocol static
set policy-options policy-statement generate-default term 10 from route-filter 0.0.0.0/0 exact
set policy-options policy-statement generate-default term 10 then next-hop self
set policy-options policy-statement generate-default term 10 then accept
set policy-options policy-statement generate-default then reject
set policy-options policy-statement set-next-hop-self term 10 from protocol bgp
set policy-options policy-statement set-next-hop-self term 10 then next-hop self
set policy-options policy-statement set-next-hop-self term 10 then accept
set policy-options policy-statement set-next-hop-self then reject
set routing-instances Undercloud-lab1 instance-type virtual-router
set routing-instances Undercloud-lab1 interface ge-0/0/2.1499
set routing-instances Undercloud-lab1 interface ae0.1504
set routing-instances Undercloud-lab1 interface lo0.1
set routing-instances Undercloud-lab1 routing-options router-id 10.38.47.226
set routing-instances Undercloud-lab1 routing-options autonomous-system 63388
set routing-instances Undercloud-lab1 protocols bgp group iBGP type internal
set routing-instances Undercloud-lab1 protocols bgp group iBGP local-address 10.38.47.226
set routing-instances Undercloud-lab1 protocols bgp group iBGP export set-next-hop-self
set routing-instances Undercloud-lab1 protocols bgp group iBGP neighbor 10.38.47.225
set routing-instances Undercloud-lab1 protocols bgp group DC-Mgmt type external
set routing-instances Undercloud-lab1 protocols bgp group DC-Mgmt neighbor 169.254.254.0 peer-as 65002
set routing-instances Undercloud-lab1 protocols ospf reference-bandwidth 100g
set routing-instances Undercloud-lab1 protocols ospf area 0.0.0.0 interface lo0.1 passive
set routing-instances Undercloud-lab1 protocols ospf area 0.0.0.0 interface ae0.1504 interface-type p2p
set routing-instances Undercloud-lab2 instance-type virtual-router
set routing-instances Undercloud-lab2 interface ge-0/0/2.1498
set routing-instances Undercloud-lab2 interface ae0.1604
set routing-instances Undercloud-lab2 interface lo0.2
set routing-instances Undercloud-lab2 routing-options router-id 10.38.47.228
set routing-instances Undercloud-lab2 routing-options autonomous-system 63388
set routing-instances Undercloud-lab2 protocols bgp group iBGP type internal
set routing-instances Undercloud-lab2 protocols bgp group iBGP local-address 10.38.47.228
set routing-instances Undercloud-lab2 protocols bgp group iBGP export set-next-hop-self
set routing-instances Undercloud-lab2 protocols bgp group iBGP neighbor 10.38.47.227
set routing-instances Undercloud-lab2 protocols bgp group DC-Mgmt type external
set routing-instances Undercloud-lab2 protocols bgp group DC-Mgmt neighbor 169.254.254.2 peer-as 65002
set routing-instances Undercloud-lab2 protocols ospf reference-bandwidth 100g
set routing-instances Undercloud-lab2 protocols ospf area 0.0.0.0 interface lo0.2 passive
set routing-instances Undercloud-lab2 protocols ospf area 0.0.0.0 interface ae0.1604 interface-type p2p
