set version 15.1X49-D130.6
set system host-name mgmt-edge1-r02
set system root-authentication encrypted-password "$5$F3.DDNiP$uiOgY3Jgs5/piaUdrA8epJcKYe27y5YLNJ1GJUiYaW3"
set system login user peter.pletcher uid 2000
set system login user peter.pletcher class super-user
set system login user peter.pletcher authentication ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCoeELibgrP7LBpFKChyotKddgZ2MwairR3Q0Ixul8NBHxpwrNi038RN13NHnUMK3AfTKeX+Ch4FcD3G9bQykUfzZNJ7JZHtbTvQ27adn6+HDOd14uckK7fCI2cpQ8/Bt6+H4U4K7ThWLMC9UsM+Mro4+PWBKM4n014Fi5k5KrfkW88rBhHM9uLLAX2e9/zcOafddSU9Zl5R68DLCgFIxzIdd2rL8sjye4s50avLHeX77az8hNQwdVSxd58TS+iXU3/PsFYkWSvL52WBQv+HXNRWieufO9vOdL5sBCE9kSHcz+LedyDDdJphqv+ZatWK1xOSiCTK8qeduqND+TXB84Es01NYGYad48h7tti0SU4HDcyw9gbkNKi2ktURZmL2rGPBfkdKFsNuh3PQntkgRx14NwvW8VHsf18vVM9tSmHOPahIUi4rQ1HPpAbDquoriva/rC9qVlgxJepzsGPOWXKGXSctUOQLVlCWaln9mKTFwo0wBIwrCcSeGTZL74MHhl1PsU0zQqAX800PUPDs/DXq3kQs/Pbf/sLQWV3c4dc3A8B1qWA2BWHKx3XdlXbO9SxOHiSxr2tnyNWpyR8xJ5ufaJXDSXV0/pbKaFyoW9zgqO50QX8tV7ETN48t1ANkz14yc27Homddn8I8JyPfN/B77zQwqVQOf9fKqMNTwXPCQ== peter.pletcher@peterpletcher-lt"
set system services ssh
set system services netconf ssh
set system syslog archive size 100k
set system syslog archive files 3
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
set system max-configurations-on-flash 5
set system max-configuration-rollbacks 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set system phone-home server https://redirect.juniper.net
set system phone-home rfc-complaint
set security log mode stream
set security log report
set security ike proposal ike-prop-vpn-oslab-0 authentication-method pre-shared-keys
set security ike proposal ike-prop-vpn-oslab-0 dh-group group2
set security ike proposal ike-prop-vpn-oslab-0 authentication-algorithm sha1
set security ike proposal ike-prop-vpn-oslab-0 encryption-algorithm aes-256-cbc
set security ike policy ike-pol-vpn-oslab-0 mode main
set security ike policy ike-pol-vpn-oslab-0 proposals ike-prop-vpn-oslab-0
set security ike policy ike-pol-vpn-oslab-0 pre-shared-key ascii-text "$9$SXryK8ws4ZDkoJH.mPQzeKMLX-YgJUDHTzSlMW-d5Qz3CtRhr"
set security ike gateway gw-vpn-oslab-0 ike-policy ike-pol-vpn-oslab-0
set security ike gateway gw-vpn-oslab-0 address 66.211.110.193
set security ike gateway gw-vpn-oslab-0 external-interface ge-0/0/4
set security ipsec proposal ipsec-prop-vpn-oslab-0 protocol esp
set security ipsec proposal ipsec-prop-vpn-oslab-0 authentication-algorithm hmac-sha1-96
set security ipsec proposal ipsec-prop-vpn-oslab-0 encryption-algorithm aes-256-cbc
set security ipsec proposal ipsec-prop-vpn-oslab-0 lifetime-seconds 3600
set security ipsec policy ipsec-pol-vpn-oslab-0 proposals ipsec-prop-vpn-oslab-0
set security ipsec vpn vpn-oslab-0 bind-interface st0.0
set security ipsec vpn vpn-oslab-0 df-bit clear
set security ipsec vpn vpn-oslab-0 ike gateway gw-vpn-oslab-0
set security ipsec vpn vpn-oslab-0 ike ipsec-policy ipsec-pol-vpn-oslab-0
set security ipsec vpn vpn-oslab-0 establish-tunnels immediately
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source rule-set trust-to-untrust from zone trust
set security nat source rule-set trust-to-untrust to zone untrust
set security nat source rule-set trust-to-untrust rule source-nat-rule match source-address 0.0.0.0/0
set security nat source rule-set trust-to-untrust rule source-nat-rule then source-nat interface
set security policies from-zone trust to-zone trust policy trust-to-trust match source-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match destination-address any
set security policies from-zone trust to-zone trust policy trust-to-trust match application any
set security policies from-zone trust to-zone trust policy trust-to-trust then permit
set security policies from-zone trust to-zone untrust policy trust-to-untrust match source-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match destination-address any
set security policies from-zone trust to-zone untrust policy trust-to-untrust match application any
set security policies from-zone trust to-zone untrust policy trust-to-untrust then permit
set security zones security-zone trust host-inbound-traffic system-services all
set security zones security-zone trust host-inbound-traffic protocols all
set security zones security-zone trust interfaces lo0.0
set security zones security-zone trust interfaces ge-0/0/3.0
set security zones security-zone trust interfaces ge-0/0/5.1500
set security zones security-zone trust interfaces ge-0/0/0.0
set security zones security-zone trust interfaces st0.0
set security zones security-zone trust interfaces ge-0/0/5.1504
set security zones security-zone untrust screen untrust-screen
set security zones security-zone untrust host-inbound-traffic system-services ping
set security zones security-zone untrust host-inbound-traffic system-services traceroute
set security zones security-zone untrust host-inbound-traffic system-services ike
set security zones security-zone untrust interfaces ge-0/0/4.0
set interfaces ge-0/0/0 unit 0 description "Device Management"
set interfaces ge-0/0/0 unit 0 family inet address 10.38.32.13/25
set interfaces ge-0/0/3 unit 0 description "Link to frontside network"
set interfaces ge-0/0/3 unit 0 family inet address 169.254.254.0/31
set interfaces ge-0/0/4 unit 0 description "Internet Uplink"
set interfaces ge-0/0/4 unit 0 family inet address 4.35.160.52/29
set interfaces ge-0/0/5 vlan-tagging
set interfaces ge-0/0/5 unit 1500 description "DC Management GW"
set interfaces ge-0/0/5 unit 1500 vlan-id 1500
set interfaces ge-0/0/5 unit 1500 family inet address 10.38.32.1/25
set interfaces ge-0/0/5 unit 1504 description "Lab1 ControlPlane GW"
set interfaces ge-0/0/5 unit 1504 vlan-id 1504
set interfaces ge-0/0/5 unit 1504 family inet address 172.16.230.1/24
set interfaces lo0 unit 0 family inet address 10.38.47.254/32
set interfaces st0 unit 0 family inet address 169.254.254.7/31
set routing-options static route 0.0.0.0/0 next-hop 4.35.160.49
set routing-options router-id 10.38.47.254
set protocols bgp group EVDC export OSLAB-Mgmt-out
set protocols bgp group EVDC local-as 65002
set protocols bgp group EVDC neighbor 169.254.254.6 peer-as 65000
set protocols lldp interface ge-0/0/5
set protocols lldp interface ge-0/0/3
set protocols lldp interface ge-0/0/0
set protocols rstp interface all
set policy-options policy-statement OSLAB-Mgmt-out term Mgmt from protocol direct
set policy-options policy-statement OSLAB-Mgmt-out term Mgmt from route-filter 10.38.32.0/25 exact
set policy-options policy-statement OSLAB-Mgmt-out term Mgmt then accept
set policy-options policy-statement OSLAB-Mgmt-out term Deny then reject
set vlans dcmgmt vlan-id 1500
set vlans lab1ctlplane vlan-id 1504
